<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <title>Platform {% block title %} {% endblock title %}</title>
    {% block extrastyle %}{% endblock extrastyle %}
    {% include 'app_includes/head.html' %}
  </head>
  <body  class="{% block body %}{% endblock body %} ">
    <script src="{% static 'dist/js/demo-theme.min.js' %}?1684106062"></script>
    {% block content %}{% endblock content %}
    <!-- Libs JS -->
    {% include 'app_includes/scripts.html' %}
    {% block extrajs %}{% endblock extrajs %}
  </body>
</html>