<!doctype html>
{% comment %} {% load i18n static admin_tabler %} {% endcomment %}
{% load i18n static  %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% comment %} {% get_direction as direction %} {% endcomment %}
{% comment %} {% get_admin_setting as admin_setting %} {% endcomment %}
<html lang="en">
  <head>
    <title>{% block title %}{% endblock title %} INX Platform</title>
    {% block extrastyle %}{% endblock extrastyle %}
    {% include 'app_includes/head.html' %}
    {% block extrahead %}{% endblock extrahead %}
  </head>
  <body class="{% block body %}{% endblock body %}">
    <script src="{% static 'dist/js/demo-theme.min.js' %}?1684106062"></script>
    <div class="page">
        <!-- Navbar -->
        {% block navigation %}
            {% include 'app_includes/navigation.html' %}
        {% endblock navigation %}
        {% block sidebar %}
            {% include 'app_includes/sidebar.html' %}
        {% endblock sidebar %}
        {% block messages %}
          {% include 'app_includes/messages.html' %}
        {% endblock messages %}
        {% block content %}{% endblock content %}
    </div>
    {% block modal %}{% endblock modal %}
    <!-- Tabler Core -->
    {% block scripts %}
        {% include 'app_includes/scripts.html' %}
    {% endblock scripts %}
    {% block extrajs %}{% endblock extrajs %}
  </body>
</html>