{% extends 'base.html' %}
{% block content %}
<div class="row mb-2 mt-3">
    <div class="col-auto">
        <p class="h4">Clean single table</p>
    </div>
</div>
<div class="row">
    <div class="col-auto">
        <form method="post" action="{% url 'clean_single' %}">
            {% csrf_token %}
            
            <label for="selected_option">Select a table:</label>
            <select name="selected_option" id="selected_option">
                {% for table_name, field_name_id, model, mapping_dict in options %}
                    <option value="{{ table_name }}">{{ table_name }}</option>
                {% endfor %}
            </select>
            
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}