{% extends "base.html" %}

{% block content %}
  <h2>Your Files</h2>
  <div class="row">
    {% for file in user_files %}
    <div class="col-4">
        <div class="card mt-1">
            <div class="card-header">
                <div class="d-flex justify-content-between">
                    <div class="card-title"><span class="badge bg-primary">{{ file.file_type }}</span></div>
                    <div class="card-title"><span class="text-muted small">{{ file.id }}</span></div>
                </div>
            </div>
            <div class="card-body">
                <p class="card-title text-muted fw-lighter">
                    <span class="small">file:</span><br>
                    <span class="font-monospace"><small>{{ file.file_name }}</small></span>
                </p>
                </div>
            <div class="card-footer">
                <a href="{% url 'start_processing' file.id %}" class="btn btn-primary">Start Process</a>
                <a href="{% url 'delete_file' file.id %}" class="btn btn-danger">Delete</a>
            </div>  
        </div>
    </div>
    {% endfor %}    
  </div>
{% endblock %}