{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row text-start mt-2">
        <p class="h3">Edit {{ dictionary_name }} dictionaries</p>
    </div>
    <div class="row">
        <div class="col me-5 border bg-light">
            <div class="h4 text-start mt-2">
                Converting
            </div>
            <div class="row">
                <form method="post" hx-post="{% url 'edit_dictionary' dictionary_name %}"" hx-target="#converting-form">
                    {% csrf_token %}
                    {% for key, value in data_converting.items %}
                    <div class="row pb-4">
                        <div class="row">
                            <div class="col"><label for="{{ key }}" class="form-label">{{ key }}</label></div>
                        </div>
                        <div class="row">
                            <div class="col-10 text-start"><input type="text" id="{{ key }}" class="form-control" name="data_converting[{{ key }}]" value="{{ value }}"></div>
                            <div class="col-2"><button class="btn btn-danger delete-key" data-key="{{ key }}" hx-trigger="click" hx-post="{% url 'dictionary_delete_key' dictionary_name %}"><i class="bi bi-trash"></i>del</button><br></div>
                        </div>
                    </div>
                    {% endfor %}
                    <button class="btn btn-primary mb-4" name="submit_button" value="form_converting" type="submit">Save</button>
                </form>
            </div>
        </div>
        <div class="col me-5 border bg-light">
            <div class="h4 text-start mt-2">
                Renaming
            </div>
            <form method="post">
                {% csrf_token %}
                {% for key, value in data_renaming.items %}
                    <label for="{{ key }}" class="form-label">{{ key }}</label>
                    <input type="text" id="{{ key }}" class="form-control" name="data_renaming[{{ key }}]" value="{{ value }}">
                    <br>
                {% endfor %}
                <button class="btn btn-primary mb-4" name="submit_button" value="form_renaming" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}