{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row text-start mt-2">
        <p class="h3">Edit {{ dictionary_name }} dictionaries</p>
    </div>
    <div class="row">
        <div class="col me-5 border bg-light">
            <div class="h4 text-start mt-2">
                Converting
            </div>
            <form method="post">
                {% csrf_token %}
                {% for key, value in data_converting.items %}
                    <label for="{{ key }}" class="form-label">{{ key }}</label>
                    <input type="text" id="{{ key }}" class="form-control" name="data_converting[{{ key }}]" value="{{ value }}">
                    <button type="button" class="btn btn-danger delete-key" data-key="{{ key }}">Delete</button>
                    <br>
                {% endfor %}
                <button type="button" class="btn btn-success add-key">Add Key</button><br>
                <button class="btn btn-primary mb-4" name="submit_button" value="form_converting" type="submit">Save</button>
            </form>
        </div>
        <div class="col me-5 border bg-light">
            <div class="h4 text-start mt-2">
                Renaming
            </div>
            <form method="post">
                {% csrf_token %}
                {% for key, value in data_renaming.items %}
                    <label for="{{ key }}" class="form-label">{{ key }}</label>
                    <input type="text" id="{{ key }}" class="form-control" name="data_renaming[{{ key }}]" value="{{ value }}">
                    <br>
                {% endfor %}
                <button class="btn btn-primary mb-4" name="submit_button" value="form_renaming" type="submit">Save</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}