<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}">INX Platform</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'inx' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'loader' %}">Loader</a>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link active" href="{% url 'logout' %}">Log out</a>
            {% else %}
            <a class="nav-link active" href="{% url 'login' %}">Log in</a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'create_user' %}">Create user</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Import
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'import_data' %}"><i class="me-2 bi bi-person"></i>SQL Import Process</a></li>
              <li><a class="dropdown-item" href="#"><i class="me-2 bi bi-person"></i>Color Groups</a></li>
              <li><a class="dropdown-item" href="#"><i class="me-2 bi bi-person"></i>Customers</a></li>
              <li><a class="dropdown-item" href="#"><i class="me-2 bi bi-box"></i>Products</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
        <div class="div">
          {% if request.user.is_authenticated %}
            <div>{{ request.user.username }}</div>
            <div class="mt-1 small text-muted">{{ request.user.email }}</div>
          {% else %}
            <div>No Auth</div>
            <div class="mt-1 small text-muted">Guest User</div>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>