__pycache__/
*.pyc
*.pyo
*.pyd
*.toml
db.sqlite3
env/
.vscode
sample_files
.env
local_env/
static_files
media_root/uploads/
venv/
Procfile
.DS_Store
**/.DS_Store
*.log
*.xlsx
.ruff_cache
*.toml
**/*.xml
.idea