{% load static %}

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
{% if is_local %}
    <link rel="shortcut icon" type="image/svg+xml" href="{% static 'static/favicon_loc.svg' %}">
{% else %}
    <link rel="shortcut icon" type="image/svg+xml" href="{% static 'static/favicon.svg' %}">
{% endif %}
<!-- CSS files -->
<link href="{% static 'dist/css/platform-tabler.css' %}" rel="stylesheet"/>
<link href="{% static 'dist/css/tabler-flags.min.css' %}?1684106062" rel="stylesheet"/>
<link href="{% static 'dist/css/tabler-payments.min.css' %}?1684106062" rel="stylesheet"/>
<link href="{% static 'dist/css/tabler-vendors.min.css' %}?1684106062" rel="stylesheet"/>
<link href="{% static 'dist/css/demo.min.css' %}?1684106062" rel="stylesheet"/>


<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<style>
    @import url('https://rsms.me/inter/inter.css');
    :root {
    --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    }
    body {
    font-feature-settings: "cv03", "cv04", "cv11";
    }
</style>
