{% load static %}

<!-- Tabler Core -->
<script src="{% static 'dist/js/tabler.min.js' %}?1684106062" defer></script>
<script src="{% static 'dist/js/demo.min.js' %}?1684106062" defer></script>
<script>
    htmx.config.logging = true; // Enables logging for all HTMX events
</script>

<script>
    document.addEventListener('htmx:configRequest', (event) => {
      const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
      event.detail.headers['X-CSRFToken'] = csrfToken;
    });
</script>