<div class="card card-sm">
    {% if bom_header.is_active %}
    <div class="card-status-top bg-azure"></div>
    {% else %}
    <div class="card-status-top bg-muted"></div>
    {% endif %}
    <div class="card-body">
        <div class="card-title">
            Alt BOM: {{ bom_header.alt_bom}}
            {% if bom_header.is_active %}
            <span class="badge bg-azure-lt">active</span>
            {% endif %}
        </div>
        <div class="mt-4">
            <div class="row">
                <div class="col">
                </div>
                <div class="col-auto">
                    <a href="#" class="link-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bucket" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 7m-8 0a8 4 0 1 0 16 0a8 4 0 1 0 -16 0" />
                        <path d="M4 7c0 .664 .088 1.324 .263 1.965l2.737 10.035c.5 1.5 2.239 2 5 2s4.5 -.5 5 -2c.333 -1 1.246 -4.345 2.737 -10.035a7.45 7.45 0 0 0 .263 -1.965" />
                    </svg>
                    {{ bom_header.header_base_quantity }} {{ bom_header.header_base_quantity_uom }}
                    </a>
                </div>
                <div class="col-auto">
                    <a href="#" class="link-muted">
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-weight"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M6.835 9h10.33a1 1 0 0 1 .984 .821l1.637 9a1 1 0 0 1 -.984 1.179h-13.604a1 1 0 0 1 -.984 -1.179l1.637 -9a1 1 0 0 1 .984 -.821z" /></svg>
                    {{ specific_gravity|floatformat:2 }}
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-vcenter card-table border">
                    <thead>
                        <tr>
                            <th>Item</th>
                            {% comment %} <th>Component</th> {% endcomment %}
                            <th>Descritpion</th>
                            <th>Quantity</th>
                            <th>UoM in BOM</th>
                            <th>UoM base</th>
                            <th>factor</th>
                            {% comment %} <th>Price Unit</th> {% endcomment %}
                            <th class="text-end text-wrap">standar price per unit CZK</th>
                            <th class="text-end text-wrap">standard price per kg ea CZK</th>
                            <th class="text-end text-wrap">weighed price per kg ea CZK</th>
                            <th class="text-end text-wrap">standard price per kg ea EUR</th>
                            <th class="text-end text-wrap">weighed cost in EUR</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for component in bom_components %}
                        <tr>
                            {% comment %} <td>{{component.item_number}}</td> {% endcomment %}
                            <td>
                                {{ component.bom_component.component_material }}
                                {% if component.bom_component.is_fert %}
                                    <span class="badge bg-azure-lt">FERT</span>
                                {% endif %}
                            </td>
                            <td>{{ component.bom_component.component_material_description }}</td>
                            <td>{{ component.component_quantity }}</td>
                            <td>{{ component.component_uom_in_bom }}</td>
                            <td>{{ component.component_base_uom }}</td>
                            <td>{{ component.uom_factor }}</td>
                            {% comment %} <td>{{ component.price_unit }}</td> {% endcomment %}
                            <td class="text-end">{{ component.standard_price_per_unit_CZK }}</td>
                            <td class="text-end">{{ component.standard_price_per_kg_ea_CZK }}</td>
                            <td class="text-end">{{ component.weighed_price_per_kg_ea_CZK }}</td>

                            <td class="text-end">{{ component.standard_price_per_kg_ea_EUR }}</td>
                            <td class="text-end">{{ component.weighed_price_per_kg_ea_EUR }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td class="text-end" colspan="8">TOTAL Cost (full base quantity)<br>TOTAL Cost per KG<br><strong>TOTAL Cost per LT</strong></td>
                            <td class="text-end">{{ total_RMC_CZK|floatformat:2 }}<br>{{ total_RMC_CZK_KG|floatformat:2 }}<br>{{ total_RMC_CZK_LT|floatformat:2 }}</td>
                            <td></td>
                            <td class="text-end">{{ total_RMC_EUR|floatformat:2 }}<br>{{ total_RMC_EUR_KG|floatformat:2 }}<br><strong>{{ total_RMC_EUR_LT|floatformat:2 }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>