<div class="card card-sm">
    <div class="card-status-top bg-green"></div>
    <div class="card-body">
        <div class="card-title">Alt BOM: {{ bom_header.alt_bom}}</div>
        <div class="mt-4">
            <div class="row">
                <div class="col">
                </div>
                <div class="col-auto">
                    <a href="#" class="link-muted">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bucket" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 7m-8 0a8 4 0 1 0 16 0a8 4 0 1 0 -16 0" />
                        <path d="M4 7c0 .664 .088 1.324 .263 1.965l2.737 10.035c.5 1.5 2.239 2 5 2s4.5 -.5 5 -2c.333 -1 1.246 -4.345 2.737 -10.035a7.45 7.45 0 0 0 .263 -1.965" />
                    </svg>
                    {{ bom_header.header_base_quantity }} {{ bom_header.header_base_quantity_uom }}
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-vcenter card-table">
                    <thead>
                        <tr>
                            <th>Component</th>
                            <th>Descritpion</th>
                            <th>Quantity</th>
                            <th>UoM</th>
                            <th>Price Unit</th>
                            <th>Std.Price per Unit EUR</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for component in bom_components %}
                        <tr>
                            <td>{{ component.bom_component.component_material }}</td>
                            <td>{{ component.bom_component.component_material_description }}</td>
                            <td>{{ component.component_quantity }}</td>
                            <td>{{ component.component_uom_in_bom }}</td>
                            <td>{{ component.price_unit }}</td>
                            <td>{{ component.standard_price_per_unit_EUR }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>TOTAL Cost</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ total_RMC }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>