{% extends 'app_layouts/base.html' %}
{% load static %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Brands
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->


    <div class="page-body">
      <div class="container-xl d-flex flex-column justify-content-center">
        <div class="row g-4">
          <div class="col-2">
            <form id="multi_form" action="{% url 'brands-list' %}" method="get">
              {% csrf_token %}
              <div class="subheader mb-2">Entries</div>
              <div class="row align-items-center mb-4">
                <div class="col-auto">
                    <input type="text" class="form-control form-control-sm" size="3" id="myInput" name="number_of_entries" placeholder="12" aria-label="Entries count" value="{{ request.GET.number_of_entries }}">
                </div>
                <div class="col-auto"> 
                    <button class="btn btn-sm btn-pill btn-primary" type="submit">Show</button>
                </div>
              </div>
              
              <div class="subheader my-2">Search</div>
              <input type="text" class="form-control form-control-sm mb-2" value="{{ request.GET.search }}" name="search" placeholder="Search here..." >
              <div class="mb-4">
                <button type="submit" class="btn btn-sm btn-pill btn-primary">Search</button>
                <button type="reset" class="btn btn-sm btn-pill btn-primary" onclick="resetSearch()">Reset</button>
              </div>


              <div class="subheader my-2">Ink Technology</div>
              <div class="mb-2">
                {% for ink_technology in ink_technologies %}
                <label class="form-check">
                  <input type="checkbox" class="form-check-input" name="selected_ink_technologies" value="{{ ink_technology.name }}" {% if ink_technology.name in filter_params.selected_ink_technologies %} checked {% endif %}>
                  <span class="form-check-label">{{ ink_technology.name }}</span>
                </label>
                {% endfor %}
              </div>
              <div class="mb-4">
                <button type="submit" class="btn btn-sm btn-pill btn-primary">Apply</button>
              </div>

              <div class="subheader my-2">Major Label</div>
              <div class="mb-2">
                {% for major_label in major_labels %}
                <label class="form-check">
                  <input type="radio" class="form-check-input" name="selected_major_labels" value="{{ major_label.name }}" {% if major_label.name in filter_params.selected_major_labels %} checked {% endif %}>
                  <span class="form-check-label">{{ major_label.name }}</span>
                </label>
                {% endfor %}
              </div>
              <div class="mb-4">
                <button type="submit" class="btn btn-sm btn-pill btn-primary">Apply</button>
              </div>
            </form>
          </div>
          <div class="col-10">
            <div class="row mb-3">
              <div class="d-flex align-items-center">
                {% include 'app_includes/pagination.html' %}
              </div>
            </div>
            <div class="row row-cards mb-3">
              {% for brand in page_object %}
              <div class="col-md-6 col-lg-3">
                <div class="card">
                  <div class="ribbon bg-{{ brand.ink_technology.ribbon_color }}">{{ brand.ink_technology.short_name}}</div>
                  <div class="card-status-start bg-{{ brand.ink_technology.ribbon_color }}"></div>
                  <div class="card-body">
                    <h3 class="card-title">{{ brand.name }}</h3>
                    <div class="mb-2 border rounded-1 p-1">
                      <div class="subheader">Division</div>
                      <div class="fw-bold text-end">{{ brand.division.name }}</div>
                    </div>
                    <div class="mb-2 border rounded-1 p-1">
                      <div class="subheader">NSF Division</div>
                      <div class="fw-bold text-end">{{ brand.nsf_division.name }}</div>
                    </div>
                    <div class="mb-2 border rounded-1 p-1">
                      <div class="subheader">Ink Technology</div>
                      <div class="fw-bold text-end">{{ brand.ink_technology.name }}</div>
                    </div>
                    <div class="mb-2 border rounded-1 p-1">
                      <div class="subheader">Major Label</div>
                      <div class="fw-bold text-end">{{ brand.major_label.name }}</div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <div class="d-flex">
                      <a href="{% url 'brand-view' brand.id %}" class="btn btn-outline-primary">Edit</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="row mb-3">
              <div class="d-flex align-items-center">
                {% include 'app_includes/pagination.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function resetSearch() {
          document.getElementById('multi_form').elements['search'].value='';
          document.getElementById('multi_form').submit();
      }
    </script>
    {% include 'app_includes/footer.html' %}
  </div>
{% endblock content %}