<table class="table table-vcenter card-table table-striped">
    <thead>
      <tr>
        <th>Search for</th>
        <th>Replace with</th>
        <th class="w-1"></th>
        <th class="w-1"></th>
      </tr>
    </thead>
    <tbody>
        {% for replacement in replacements %}
        <tr id="replacement-{{ replacement.id }}">
            <td>{{ replacement.search_for }}</td>
            <td class="text-secondary">{{ replacement.replace_with }}</td>
            <td>
                <button type="button" class="btn btn-icon" hx-get="{% url 'edit-sds-replacement' replacement.id %}" hx-target="#replacement-{{ replacement.id }}" hx-swap="outerHTML">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-edit"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" /><path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" /><path d="M16 5l3 3" /></svg>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-icon" hx-delete="{% url 'delete-sds-replacement' replacement.id %}" hx-confirm="Are you sure you wish to delete this record?" hx-target="#replacements-table" hx-swap="innerHTML">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-trash-x"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 7h16" /><path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" /><path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" /><path d="M10 12l4 4m0 -4l-4 4" /></svg>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>