{% extends 'app_layouts/base.html' %}
{% load custom_filters %}
{% load static %}

{% block title %}Customers{% endblock title %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Customers
            </h2>
          </div>
          <!-- Page title actions -->
          <div class="col-auto ms-auto d-print-none">
            <a href="#" class="btn btn-primary">
              <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
              Add
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <div class="row g-4">
          <!-- Parameters bar -->
          <div class="col-md-3">
            <form action="{% url 'customers' %}" method="post" class="">
              {% csrf_token %}
              <div>
                <h3>Filters
                  <span><button type="submit" name= "reset_filters" class="ms-3 btn btn-sm btn-outline-primary btn-pill">Reset</button></span>
                </h3>
                
              </div>
                <div class="mb-4">
                  <div class="form-label">Search</div>
                  <div>
                    <input type="text" name="search_term" class="form-control" placeholder="Search term" value="{{ form_data.search_term }}">
                  </div>
                </div>
              <div class="form-label">Only new customers</div>
              <div class="mb-4">
                <label class="form-check form-switch">
                  <input class="form-check-input" name="only_new_customers" type="checkbox" {% if form_data.only_new_customers %} checked {% endif %}>
                  <span class="form-check-label form-check-label-on">On</span>
                  <span class="form-check-label form-check-label-off">Off</span>
                </label>
                <div class="small text-muted">Only show Customers that need to be apporved</div>
              </div>
              <div class="form-label">Customer Activity</div>
              <div class="mb-4">
                <label class="form-check">
                  <input type="radio" class="form-check-input" name="activity" value="all" {% if form_data.activity == 'all' %} checked {% endif %}>
                  <span class="form-check-label">All</span>
                </label>
                <label class="form-check">
                  <input type="radio" class="form-check-input" name="activity" value="active" {% if form_data.activity == 'active' %} checked {% endif %}>
                  <span class="form-check-label">Active</span>
                </label>
                <label class="form-check">
                  <input type="radio" class="form-check-input" name="activity" value="inactive" {% if form_data.activity == 'inactive' %} checked {% endif %}>
                  <span class="form-check-label">Inactive</span>
                </label>
              </div>
              <div class="form-label">Country</div>
              <div class="mb-4">
                <select class="form-select" name="country_code">
                  {% for country in country_codes %}
                    <option value="{{country.alpha_2}}" {% if form_data.country_code == country.alpha_2 %} selected {% endif %}>{{country.official_name_en}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-label">Sales Manager</div>
              <div class="mb-4">
                <select class="form-select" name="sales_manager">
                  <option value="">All</option>
                  {% for sales_team_member in sales_team_members %}
                    <option value="{{ sales_team_member.id }}" {% if form_data.sales_manager == sales_team_member.id|stringformat:"s" %} selected {% endif %}>{{ sales_team_member.get_full_name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-label">Customer Service Rep</div>
              <div class="mb-4">
                <select class="form-select" name="customer_service_rep">
                  <option value="">All</option>
                  {% for cs_rep in cs_reps %}
                  <option value="{{cs_rep.id}}" {% if form_data.customer_service_rep == cs_rep.id|stringformat:"s" %} selected {% endif %}>{{ cs_rep.get_full_name }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="mb-4">
                <div class="form-label">Entries per page</div>
                <div>
                  <input type="text" name="entries_per_page" class="form-control" placeholder="20" value="{{ form_data.entries_per_page }}">
                </div>
              </div>
              <div>
                <button type="submit" name="apply_filters" class="btn btn-primary">Apply Filters</button>
                <button type="submit" name= "reset_filters"class="btn btn-outline-primary">Reset Filters</button>
              </div>
            </form>
            
          </div>
          <!-- End of parameters bar -->
          <!-- Main part -->
          <div class="col-md-9">
            <div class="col-md-9 d-flex align-items-end mb-4">
              {% include 'app_includes/pagination.html' %}
            </div>
            <div class="row row-cards">
              <div class="space-y">
                {% for c in customers %}
                <!-- Start of the customer card -->
                <div class="card">
                  <div class="row g-0">
                    <div class="col-auto">
                      <div class="card-body">
                        {% comment %} <div class="avatar avatar-md" style="background-image: url({% static 'static/jobs/job-1.jpg' %})"></div> {% endcomment %}
                        <span class="flag flag-md flag-country-{{ c.country.alpha_2|lower }}"></span>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card-body ps-0">
                        <div class="row">
                          <div class="col">
                            <h3 class="mb-0">
                              {% if c.is_new %}
                              <div class="badge badge-outline badge-pill text-red me-1 align-middle" style="font-size: 0.7rem;"><span class="align-middle">NEW</span></div>
                              {%endif %}
                              <a href="{% url "customer-view" c.pk %}"class="align-middle">{{ c.number }} {{ c.name }}</a>
                            </h3>
                          </div>
                          <div class="col text-end">{{ c.currency.svg_symbol|safe }}</div>
                        </div>
                        <div class="row">
                          <div class="col-md">
                            <div class="mt-3 list-inline list-inline-dots mb-0 text-muted d-sm-block d-none">
                              <div class="list-inline-item"><!-- Download SVG icon from http://tabler-icons.io/i/building-community -->
                                <svg xmlns="http://www.w3.org/2000/svg"  class="icon icon-tabler icons-tabler-outline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                                {{ c.sales_employee.get_full_name }}</div>
                              <div class="list-inline-item"><!-- Download SVG icon from http://tabler-icons.io/i/license -->
                                <svg xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-screen"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.03 17.818a3 3 0 0 0 1.97 -2.818v-8a3 3 0 0 0 -3 -3h-12a3 3 0 0 0 -3 3v8c0 1.317 .85 2.436 2.03 2.84" /><path d="M10 14a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M8 21a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2" /></svg>
                                {{ c.customer_service_rep.get_full_name }}</div>
                              <div class="list-inline-item"><!-- Download SVG icon from http://tabler-icons.io/i/map-pin -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" /></svg>
                                {{ c.country.alpha_2 }}</div>
                            </div>
                            <div class="mt-3 list mb-0 text-muted d-block d-sm-none">
                              <div class="list-item"><!-- Download SVG icon from http://tabler-icons.io/i/building-community -->
                                <svg xmlns="http://www.w3.org/2000/svg"  class="icon icon-tabler icons-tabler-outline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" /><path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /></svg>
                                {{ c.sales_employee.get_full_name }}</div>
                              <div class="list-item"><!-- Download SVG icon from http://tabler-icons.io/i/license -->
                                <svg xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-user-screen"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19.03 17.818a3 3 0 0 0 1.97 -2.818v-8a3 3 0 0 0 -3 -3h-12a3 3 0 0 0 -3 3v8c0 1.317 .85 2.436 2.03 2.84" /><path d="M10 14a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M8 21a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2" /></svg>
                                {{ c.customer_service_rep.get_full_name }}</div>
                              <div class="list-item"><!-- Download SVG icon from http://tabler-icons.io/i/map-pin -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-inline" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" /></svg>
                                {{ c.country.alpha_2 }}</div>
                            </div>
                          </div>
                          <div class="col-md-auto">
                            <div class="mt-3 badges">
                              {% if c.active %}
                              <span href="#" class="badge badge-outline border fw-normal badge-pill bg-success">ACTIVE</span>
                              {% else %}
                              <span href="#" class="badge badge-outline border fw-normal badge-pill bg-danger">INACTIVE</span>
                              {% endif %}
                              {% if c.industry.name %}
                              <span href="#" class="badge badge-outline text-muted border fw-normal badge-pill">{{ c.industry.name }}</span>
                              {% endif %}
                              {% if c.insurance %}
                              <span href="#" class="badge badge-outline text-muted border fw-normal badge-pill" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ c.insurance_value|format_large_number }}">Insurance</span>
                              {% endif %}
                              <a class="badge badge-outline badge-pill bg-primary" href="{% url 'forecast-2' c.id %}"> FORECAST </a>
                              {% comment %} <a href="#" class="badge badge-outline text-muted border fw-normal badge-pill">Tag</a> {% endcomment %}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                <!-- End of the customer card -->
                
              </div>
            </div>
            <div class="col-md-9 d-flex align-items-end mt-4">
              {% include 'app_includes/pagination.html' %}
            </div>
          </div>
          <!-- end of Main part-->
        </div>
      </div>
    </div>
    {% include 'app_includes/footer.html' %}
  </div>
  
{% endblock content %}