{% extends 'app_layouts/base.html' %}
{% load static %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl d-flex flex-column justify-content-center">
        <form class="card" method="POST">
          {% csrf_token %}
          <div class="card-body">
            <div class=" card-title d-flex justify-content-between align-items-center">
              <h3>Update Customer</h3>
              {% if form.instance.is_new%}
                <span class="badge badge-outline text-red small">NEW</span>
              {% endif %}
            </div>
            <div class="row row-cards">
              <div class="col-sm-12 col-md-12">
                <div class="mb-3">
                  <label class="form-label">{{ form.number.label }}</label>
                  {{ form.number }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3 mb-0">
                  <label class="form-label">{{ form.name.label }}</label>
                  {{ form.name }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3 mb-0">
                  <label class="form-label">{{ form.country.label }}</label>
                  {{ form.country }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3 mb-0">
                  <label class="form-label">{{ form.currency.label }}</label>
                  {{ form.currency }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3 mb-0">
                  <label class="form-label">{{ form.vat.label }}</label>
                  {{ form.vat }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3 mb-0">
                  <label class="form-label">{{ form.email.label }}</label>
                  {{ form.email }}
                </div>
              </div>
              
              <div class="col-md-12">
                <div class="mb-3 mb-0">
                  <label class="form-label">{{ form.customer_type.label }}</label>
                  {{ form.customer_type }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3 mb-0">
                  <label class="form-label">{{ form.sales_employee.label }}</label>
                  {{ form.sales_employee }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3 mb-0">
                  <label class="form-label">{{ form.customer_service_rep.label }}</label>
                  {{ form.customer_service_rep }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3 mb-0">
                  <label class="form-label">{{ form.active.label }}</label>
                  {{ form.active }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3 mb-0">
                  <label class="form-label">{{ form.insurance.label }}</label>
                  {{ form.insurance }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3 mb-0">
                  <label class="form-label">{{ form.insurance_value.label }}</label>
                  {{ form.insurance_value }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3 mb-0">
                  <label class="form-label">{{ form.credit_limit.label }}</label>
                  {{ form.credit_limit }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3 mb-0">
                  <label class="form-label">{{ form.approved_on.label }}</label>
                  {{ form.approved_on }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3 mb-0">
                  <label class="form-label">{{ form.approved_by.label }}</label>
                  {{ form.approved_by }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3 mb-0">
                  <label class="form-label">{{ form.industry.label }}</label>
                  {{ form.industry }}
                </div>
              </div>
              <div class="col-md-12">
                <div class="mb-3 mb-0">
                  <label class="form-label">{{ form.is_new.label }}</label>
                  {{ form.is_new }}
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-end">
            <button type="submit" class="btn btn-primary">
              {% if form.instance.is_new %}
                Approve
              {% else %}
                Update
              {% endif %}
               Customer
            </button>
          </div>
        </form>
      </div>
    </div>
    {% include 'app_includes/footer.html' %}
  </div>
{% endblock content %}