{% extends 'app_layouts/base.html' %}
{% load static %}
{% block content %}
      <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h2 class="page-title">
                  Customers
                </h2>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="row row-cards">
              <div class="col-12">
                <div class="card">
                  <div class="card-header d-flex justify-content-between align-items-center">
                    <h3 class="card-title mb-0">Customers List</h3>
                    <label class="form-check form-switch mb-0">
                      <form id="toggleForm_new" class="d-flex" action="{% url 'customers-list' %}" method="get">
                        <div class="mx-2">
                          <input class="form-check-input" name="new_customers" type="checkbox" {% if filter_params.only_new %}checked{% endif %}>
                        </div>
                        <div>
                          <span class="form-check-label">  Show only new customers</span>
                        </div>
                      </form>
                    </label>
                  </div>
                  <div class="card-body border-bottom py-3">
                    <div class="d-flex flex-row">
                      <div class="text-muted mx-1">
                        <form id="EntriesForm" class="d-flex" action="{% url 'customers-list' %}" method="get">
                          {% csrf_token %}
                          Entries<input type="text" class="form-control form-control-sm mx-2" size="3" id="myInput" name="entries" placeholder="10" aria-label="Entries count" value="{{ request.GET.entries }}">
                          <button class="btn btn-sm btn-pill btn-primary" type="submit">Show entries</button>
                          <!-- Hidden field used to retain the search term -->
                          <input type="hidden" name="search" value="{{ request.GET.search }}">
                          <input type="hidden" name="radios_view" value="{{ request.GET.radios_view }}">
                        </form>
                      </div>

                      <div class="ms-4 text-muted">
                        
                        <form class="d-flex" action="{% url 'customers-list' %}" name="view_entries" method="get">
                          <span class="me-3">View:</span>
                          <label class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radios_view" value="all" {% if request.GET.radios_view == 'all' %} checked {% endif %}>
                            <span class="form-check-label">All</span>
                          </label>
                          <label class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radios_view"  value="active" {% if request.GET.radios_view == 'active' %} checked {% endif %}>
                            <span class="form-check-label">Active</span>
                          </label>
                          <label class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radios_view"  value="inactive" {% if request.GET.radios_view == 'inactive' %} checked {% endif %}>
                            <span class="form-check-label">Inactive</span>
                          </label>
                          <input type="hidden" name="search" value="{{ request.GET.search }}">
                          <input type="hidden" name="entries" value="{{ request.GET.entries }}">
                        </form>
                      </div>


                      <div class="ms-auto text-muted">
                        <div class="d-inline-block">
                          <form class="row g-3" id="searchForm" method="get" action="{% url 'customers-list' %}">
                            {% csrf_token %}
                            <div class="col-auto">
                              <input type="text" class="form-control form-control-sm" value="{{ request.GET.search }}" name="search" placeholder="Search here..." >
                            </div>
                            <div class="col-auto">
                              <button type="submit" class="btn btn-sm btn-pill btn-primary">Search</button>
                              <button type="reset" class="btn btn-sm btn-pill btn-primary" onclick="resetSearch()">Reset</button>
                            </div>
                            <input type="hidden" name="entries" value="{{ request.GET.entries }}">
                            <input type="hidden" name="radios_view" value="{{ request.GET.radios_view }}">
                          </form>
                          <script>
                            function resetSearch() {
                                document.getElementById('searchForm').elements['search'].value='';
                                document.getElementById('searchForm').submit();
                            }
                            // Submit the form whenever the radio buttons change
                            var radioButtons = document.querySelectorAll('input[type="radio"]');
                            radioButtons.forEach(function(radioButton) {
                                radioButton.addEventListener('change', function() {
                                    document.forms['view_entries'].submit();
                                });
                            });
                            // Submit the form when the toggle changes
                            var toggle = document.querySelector('#toggleForm_new .form-check-input');
                            if (toggle) {
                              console.log("Toggle found.");
                              toggle.addEventListener('change', function() {
                                console.log("Toggle value:", this.checked);
                                this.form.submit();
                              });
                            } else {
                              console.log("Toggle not found.");
                            }
                            
                          </script>
                        </div>
                      </div>
                    </div>
                  </div>            
                  <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable table-striped">
                      <thead>
                        <tr>
                          <th class="w-1">Number
                            <!-- Download SVG icon from http://tabler-icons.io/i/chevron-up
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 15l6 -6l6 6" /></svg> -->
                          </th>
                          <th>Name</th>
                          <th>status</th>
                          <th>Country</th>
                          <th>Account Manager</th>
                          <th class="text-end">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for customer in page_object %}
                        <tr>
                          
                          <td><span class="text-muted">{{ customer.number }}</span></td>
                          <td>
                            {% if customer.is_new%}
                              <span class="badge badge-outline text-red">NEW</span>
                            {% endif %}
                            {{ customer.name}}
                          </td>
                          <td>
                            <span class="badge {% if customer.active %} bg-success {% else %} bg-danger {% endif %} me-1"></span> {% if customer.active  %} Active {% else %} Inactive {% endif %}
                          </td>
                          <td>
                            <span class="flag flag-country-{{ customer.country.alpha_2|lower }}"></span>
                            {{ customer.country.uniterm_english_short }}
                          </td>
                          <td>
                            {{ customer.sales_employee.get_full_name }}
                          </td>
                          <td class="text-end">
                            <a href="{% url 'customer-view' customer.pk %}" class="btn btn-outline-info btn-sm">View</a>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <div class="card-footer d-flex align-items-center">
                    {% include 'app_includes/pagination.html' %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>
        {% include 'app_includes/footer.html' %}
      </div>

{% endblock content %}