{% extends 'app_layouts/base.html' %}
{% load static %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Database Views
            </h2>
          </div>
          <div class="col-auto">
            <a href="{% url 'db-view-add' %}" class="btn btn-outline-primary ">Add</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <div class="card">
          <div class="card-body">
            <div id="table-default" class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="">ID</th>
                    <th><button class="table-sort" data-sort="sort-name">Name</button></th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody class="table-tbody">

                  {% for db_view in db_views %}
                  <tr>
                    <td>
                      <div>{{ db_view.id }}</div>
                    </td>
                    <td class="sort-name">
                      <div class="row align-items-center">
                        {{ db_view.name }}
                      </div>
                    </td>
                    <td >
                      <div class="row align-items-center">
                        {% comment %} <div class="col-12 col-lg-auto"> {% endcomment %}
                        <div class="col-12">  
                          <a href="{% url 'db-view-edit' db_view.id %}" class="btn btn-pill btn-primary">Edit script</a>
                          {% comment %} <a href="{% url 'db-view-push' procedure.id %}" class="btn btn-pill btn-teal">Push in the db</a> {% endcomment %}
                          {% comment %} <a href="" class="btn btn-pill btn-warning">Execute</a> {% endcomment %}
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'app_includes/footer.html' %}
  </div>

{% endblock content %}

{% block extrajs %}

{% endblock extrajs %}