{% load custom_filters %}
{% load static %}
{% load humanize %}
<div class="card" id="bdg_sales">
    <div class="card-body">
        <div class="row mb-2">
            <div class="col d-flex align-items-center fw-bold">Budget Sales data</div>
            <div class="col text-end">
              <button
                id="refresh-budget-button"
                class="btn btn-primary" 
                hx-get="{% url 'fetch-bdg-sales' customer.id %}" 
                hx-target="#bdg_sales" 
                hx-swap="innerHTML">
                refresh
                </button>
            </div>
        </div>
        <div class="d-flex flex-row">
            <table class="table table-sm table-vcenter">
                <thead>
                    <th class="text-end">Brand</th>
                    <th class="text-center">...</th>
                    {% for m in months.values %}
                        <th class="text-end">
                            {{ m.abbreviated_name }}
                        </th>
                    {% endfor %}
                    <th class="text-center bg-red-lt">Brand Total</th>
                </thead>
                <tbody>
                    {% for b, bdg_data in budget_data.items %}
                        <tr>
                            <td class="text-end fw-bold align-top">
                                {{ b }}
                            </td>
                            <td class="text-center"> {{ customer.currency.symbol }} <br> LT <br> {{ customer.currency.symbol }}/L </td>
                            {% for month_key in months.keys %}
                                <td class="text-end align-top">
                                    {{ bdg_data.bdg|dict_lookup:month_key|dict_lookup:"value"|intcomma }}<br>
                                    {{ bdg_data.bdg|dict_lookup:month_key|dict_lookup:"volume"|intcomma }}<br>
                                    <span class="fw-light fs-5">{{ bdg_data.bdg|dict_lookup:month_key|dict_lookup:"price"|floatformat:2 }}</span>
                                </td>
                            {% endfor %}
                            <td class="text-end bg-red-lt">
                                {{ bdg_data.bdg.brand_total.value|intcomma }}<br>
                                {{ bdg_data.bdg.brand_total.volume|intcomma }}<br>
                                <span class="fw-light fs-5">{{ bdg_data.bdg.brand_total.price|floatformat:2 }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>



