{% extends 'app_layouts/base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page body -->
    <div class="page-body">
      <div class="container">
        <div class="h1">
          {{ customer.name }}
        </div>
        <div>
          <div>
            <table>
              <thead>
                  <tr>
                      <th class="border">Brand</th>
                      <th class="border">Color Group</th>
                      <th class="border">-</th>
                      {% for month in months %}
                          <th class="border text-end p-2"> {{ month }}</th>
                      {% endfor %}
                      <th class="border text-end p-2">Total</th>
                  </tr>
              </thead>
              <tbody>
                {% for brand_name, brand_data in data.brands.items %}
                    {% if brand_name != "grand_total_per_customer" %}
                        {% for color_group_name, color_group_data in brand_data.color_groups.items %}
                            {% if not "total" in color_group_name %}
                                <tr class="antialiased">
                                    {% if forloop.first %}
                                    <td rowspan="{{ brand_data.color_groups|length }}" class="border">
                                        {{ brand_name }}
                                    </td>
                                    {% endif %}
                                    <td class="border">
                                        {{ color_group_name }}
                                    </td>
                                    <td class="border">
                                        L<br>
                                        €/LT<br>
                                        €
                                    </td>
                                    {% for m in months %}
                                    <td class="border text-end px-2 py-1">
                                        {% if m %}
                                            {% with year=forecast_year|stringformat:"s" %}
                                                {% with year_data=color_group_data.scenarios.Forecast.years|get_nested_item:year %}
                                                    {% with months_data=year_data.months %}
                                                        {% comment %} <strong>Debug:</strong> Months Data: {{ months_data }}<br> {% endcomment %}
                                                        {% with month_key=m|stringformat:"s" %}
                                                            {% with month_detail=months_data|get_item:month_key %}
                                                                {% comment %} <strong>Debug:</strong> Month Detail: {{ month_detail }}<br> {% endcomment %}
                                                                {% if month_detail %}
                                                                    {{ month_detail.volume|custom_number_decimal }}<br>
                                                                    {{ month_detail.price|custom_number_decimal }}<br>
                                                                    {{ month_detail.value|custom_number_decimal }}
                                                                {% else %}
                                                                    No data for month {{ m }}
                                                                {% endif %}
                                                            {% endwith %}
                                                        {% endwith %}
                                                    {% endwith %}
                                                {% endwith %}
                                            {% endwith %}
                                        {% else %}
                                            None
                                        {% endif %}
                                    </td>
                                    {% endfor %}
                                    <td class="border text-end px-2">
                                        {% with year=forecast_year|stringformat:"s" %}
                                            {% with year_data=color_group_data.scenarios.Forecast.years|get_nested_item:year %}
                                                {% with total_per_color_group=year_data.total_per_color_group %}
                                                    {{ total_per_color_group.volume|custom_number_decimal }}<br>
                                                    {{ total_per_color_group.price|custom_number_decimal }}<br>
                                                    {{ total_per_color_group.value|custom_number_decimal }}
                                                {% endwith %}
                                            {% endwith %}
                                        {% endwith %}
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        <tr class="bg-azure-lt strong antialiased">
                            <td colspan="2" class="border">
                                <strong>{{ brand_name }} total:</strong>
                            </td>
                            <td class="border">
                                L<br>
                                €/LT<br>
                                €
                            </td>
                            {% for m in months %}
                            <td class="border text-end py-2 px-1">
                                {% with year=forecast_year|stringformat:"s" %}
                                    {% with brand_year_data=brand_data.totals_per_brand.scenarios.Forecast.years|get_nested_item:year %}
                                        {% with months_data=brand_year_data.months %}
                                            {% with month_key=m|stringformat:"s" %}
                                                {% with month_detail=months_data|get_item:month_key %}
                                                    {% if month_detail %}
                                                        {{ month_detail.volume|custom_number_decimal }}<br>
                                                        {{ month_detail.price|custom_number_decimal }}<br>
                                                        {{ month_detail.value|custom_number_decimal }}
                                                    {% else %}
                                                        No data for month {{ m }}
                                                    {% endif %}
                                                {% endwith %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endwith %}
                                {% endwith %}
                            </td>
                            {% endfor %}
                            <td class="border text-end px-1 py-2">
                                {% with year=forecast_year|stringformat:"s" %}
                                    {% with brand_year_data=brand_data.totals_per_brand.scenarios.Forecast.years|get_nested_item:year %}
                                        {% with grand_total_per_brand=brand_year_data.grand_total_per_brand %}
                                            {{ grand_total_per_brand.volume|custom_number_decimal }}<br>
                                            {{ grand_total_per_brand.price|custom_number_decimal }}<br>
                                            {{ grand_total_per_brand.value|custom_number_decimal }}
                                        {% endwith %}
                                    {% endwith %}
                                {% endwith %}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                {% for brand_name, brand_data in data.brands.items %}
                    {% if brand_name == "grand_total_per_customer" %}
                    <tr class="bg-blue-lt strong">
                        <td class="border" colspan="2">
                            {{customer.name}}
                        </td>
                        
                        <td class="border">
                            L<br>
                            €/LT<br>
                            €
                        </td>
                        {% for m in months %}
                        <td class="border text-end py-2 px-1">
                            {% with year=forecast_year|stringformat:"s" %}
                                {% with brand_year_data=brand_data.scenarios.Forecast.years|get_nested_item:year %}
                                    {% with months_data=brand_year_data.months %}
                                        {% with month_key=m|stringformat:"s" %}
                                            {% with month_detail=months_data|get_item:month_key %}
                                                {% if month_detail %}
                                                    {{ month_detail.volume|custom_number_decimal }}<br>
                                                    {{ month_detail.price|custom_number_decimal }}<br>
                                                    {{ month_detail.value|custom_number_decimal }}
                                                {% else %}
                                                    No data for month {{ m }}
                                                {% endif %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endwith %}
                                {% endwith %}
                            {% endwith %}
                        </td>
                        {% endfor %}
                        <td class="text-end border py-2 px-1">
                            {% with year=forecast_year|stringformat:"s" %}
                                {% with brand_year_data=brand_data.scenarios.Forecast.years|get_nested_item:year %}
                                    {% with grand_total_per_customer=brand_year_data.grand_total_per_customer %}
                                        {{ grand_total_per_customer.volume|custom_number_decimal }}<br>
                                        {{ grand_total_per_customer.price|custom_number_decimal }}<br>
                                        {{ grand_total_per_customer.value|custom_number_decimal }}
                                    {% endwith %}
                                {% endwith %}
                            {% endwith %}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
              </tbody>
            </table>

          </div>

        </div>

        
      </div>
    </div>
    {% include 'app_includes/footer.html' %}
  </div>
  
{% endblock content %}