<div class="row mb-1">
    <div class="col"><a href="#" class="btn btn-outline-primary w-100 text-wrap ">{{ color_group_name }} FORECAST</a></div>
    <div class="col-1">
        <a href="#" class="btn btn-outline-primary btn-icon w-100" aria-label="Button"
        hx-get="{% url 'fetch-empty-forecast-area' %}"
        hx-target="#forecast-area"
        hx-swap="innerHTML">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0071ce" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M18 6l-12 12" />
                <path d="M6 6l12 12" />
              </svg>
          </a>
    </div>
</div>

<div class="row"> <!-- Messages for forecast area -->
  {% if messages %}
    {% if form_type == 'forecast'%}
      <div id="messages" class="messages">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissable mt-1" role="alert">
            <div class="d-flex align-items center">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0071ce" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M5 12l5 5l10 -10" />
                </svg>
              </div>
              <div class="ms-3 me-auto">
                <h4 class="alert-title">Saved</h4>  
                <div class="text-secondary">{{ message }}</div>
              </div>
              <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
          </div>
          {% endfor %}
      </div>
    {% endif %}
  {% endif %}
</div>

<div class="row"> <!-- Forecast forms -->
  <div>budforline_id: {{ budforline_id }} </div>
    {% for form in forecast_forms %}
      <div class="col">
        <form method="post"
            hx-post="{% url 'forecast-save' %}"    
            hx-boost="true"
            hx-trigger="submit from:closest form"
            hx-target="#forecast-area"
            hx-swap="innerHTML">
          {% csrf_token %}
          <input type="hidden" name="form_type" value="forecast">
          <div class="form-group mb2">
            {{ form.id }}
            {{ form.budforline_id }}
            <input type="hidden" name="brand_name" value="{{ brand_name }}">
            <input type="hidden" name="color_group_name" value="{{ color_group_name }}">
          </div>
          <div class="form-group mb-2">
            <label>Month</label>
            {{ form.month }}
            <input type="hidden" name="month" value="{{ form.month.value }}">
            {% comment %} <input type="text" name="month" value="{{ form.month.value }}" class="form-control p-1 text-center" readonly> {% endcomment %}
          </div>
          <div class="form-group mb-1">
            <label>Volume</label>
            {{ form.volume }}
          </div>
          <div class="form-group mb-1">
            <label>Price</label>
            {{ form.price }}
          </div>
          <div class="form-group mb-3">
            <label>Value</label>
            {{ form.value }}
          </div>
          <button type="submit" class="btn btn-primary w-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-up-lines" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M9 12h-3.586a1 1 0 0 1 -.707 -1.707l6.586 -6.586a1 1 0 0 1 1.414 0l6.586 6.586a1 1 0 0 1 -.707 1.707h-3.586v3h-6v-3z" />
              <path d="M9 21h6" />
              <path d="M9 18h6" />
            </svg>
            Save
          </button>
        </form>
      </div>
    {% endfor %}
</div>

<div class="row mb-1 mt-3">
  <div class="col"><a href="#" class="btn btn-outline-primary w-100 text-wrap ">{{ color_group_name }} BUDGET</a></div>
  <div class="col-1">
      <a href="#" class="btn btn-outline-primary btn-icon w-100" aria-label="Button"
      hx-get="{% url 'fetch-empty-forecast-area' %}"
      hx-target="#forecast-area"
      hx-swap="innerHTML">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0071ce" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M18 6l-12 12" />
              <path d="M6 6l12 12" />
            </svg>
        </a>
  </div>
</div>


<div class="row"> <!-- Messages for budget area -->
  {% if messages %}
    {% if form_type != 'forecast'%}
      <div id="messages" class="messages">
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }} alert-dismissable mt-1" role="alert">
            <div class="d-flex align-items center">
              <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-check" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0071ce" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                  <path d="M5 12l5 5l10 -10" />
                </svg>
              </div>
              <div class="ms-3 me-auto">
                <h4 class="alert-title">Saved</h4>  
                <div class="text-secondary">{{ message }}</div>
              </div>
              <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
            </div>
          </div>
          {% endfor %}
      </div>
    {% endif %}
  {% endif %}
</div>

<div class="row mt-3" id="budget-area"> <!-- Budget forms -->
  {% if request.user.budget_open %}
    {% for form in budget_forms %}
        <div class="col">
          <form method="post"
            hx-post="{% url 'forecast-save' %}"    
            hx-boost="true"
            hx-trigger="submit from:closest form"
            hx-target="#forecast-area"
            hx-swap="innerHTML">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="budget">
            <div class="form-group mb2">
              {{ form.id }}
              {{ form.budforline_id }}
              <input type="hidden" name="brand_name" value="{{ brand_name }}">
              <input type="hidden" name="color_group_name" value="{{ color_group_name }}">
            </div>
            <div class="form-group mb-2">
              <label>Month</label>
              {{ form.month }}
              <input type="hidden" name="month" value="{{ form.month.value }}">
              {% comment %} <input type="text" name="month" value="{{ form.month.value }}" class="form-control p-1 text-center" readonly> {% endcomment %}
            </div>
            <div class="form-group mb-1">
              <label>Volume</label>
              {{ form.volume }}
            </div>
            <div class="form-group mb-1">
              <label>Price</label>
              {{ form.price }}
            </div>
            <div class="form-group mb-3">
              <label>Value</label>
              {{ form.value }}
            </div>
            <button type="submit" class="btn btn-primary w-100">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-up-lines" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M9 12h-3.586a1 1 0 0 1 -.707 -1.707l6.586 -6.586a1 1 0 0 1 1.414 0l6.586 6.586a1 1 0 0 1 -.707 1.707h-3.586v3h-6v-3z" />
                <path d="M9 21h6" />
                <path d="M9 18h6" />
              </svg>
              Save
            </button>
          </form>
        </div>
      {% endfor %}
    {% endif %}
</div>


<!-- Full year flat budget -->
<div class="row mt-3" id="budget-area">
  {% if request.user.budget_open %}
      <div class="col">
        <form method="post"
            hx-post="{% url 'forecast-save' %}"    
            hx-boost="true"
            hx-trigger="submit from:closest form"
            hx-target="#forecast-area"
            hx-swap="innerHTML">
          {% csrf_token %}
          <div class="form-group mb2">
            <input type="hidden" name="form_type" value="budget-flat">
            <input type="hidden" name="budforline_id" value="{{ budforline_id }}">
            <input type="hidden" name="brand_name" value="{{ brand_name }}">
            <input type="hidden" name="color_group_name" value="{{ color_group_name }}">
          </div>
          <div class="form-group mb-1">
            <label>Volume</label>
            {{ flat_budget_form.volume }}
          </div>
          <div class="form-group mb-1">
            <label>Price</label>
            {{ flat_budget_form.price }}
          </div>
          <button type="submit" class="btn btn-primary w-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-big-down-lines" width="100" height="100" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M15 12h3.586a1 1 0 0 1 .707 1.707l-6.586 6.586a1 1 0 0 1 -1.414 0l-6.586 -6.586a1 1 0 0 1 .707 -1.707h3.586v-3h6v3z" />
              <path d="M15 3h-6" />
              <path d="M15 6h-6" />
            </svg>
            Save
          </button>
        </form>
      </div>
    {% endif %}
</div>


<script>
  setTimeout(function() {
    var messagesElement = document.getElementById('messages');
    if (messagesElement) {
        messagesElement.style.display = 'none';
    }
  }, 3000);

  document.addEventListener('htmx:afterSwap', function(event) {
    console.log('afterSwap')
    // Check if the request was a POST request to forecast-save or budget-save
    if (event.detail.target.id === 'forecast-area') {
      // Find the "refresh BDG" button by its ID
      var refreshButton = document.getElementById('refresh-BDG');
      
      if (refreshButton) {
        refreshButton.click();
      }
    }
  });

</script>

    