{% extends 'app_layouts/base.html' %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block content %}
  <div class="page-wrapper">
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl d-flex flex-column justify-content-center">
        <div class="row g-2 align-items-center mb-2">
          <div class="col-auto">
            <a href="{% url "customer-view" customer.pk %}">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Customers" width="64" height="64" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0071ce" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l14 0" />
                <path d="M5 12l6 6" />
                <path d="M5 12l6 -6" />
              </svg>
            </a>
          </div>
          <div class="col">
            <h2 class="page-title">{{ customer.name }}</h2>
          </div>
        </div>
        <div class="row mb-3"> <!-- PY sales -->
          <div class="card card-md">
            <div class="card-stamp card-stamp-lg">
              <div class="card-stamp-icon bg-primary">
                <!-- Download SVG icon from http://tabler-icons.io/i/ghost -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 11a7 7 0 0 1 14 0v7a1.78 1.78 0 0 1 -3.1 1.4a1.65 1.65 0 0 0 -2.6 0a1.65 1.65 0 0 1 -2.6 0a1.65 1.65 0 0 0 -2.6 0a1.78 1.78 0 0 1 -3.1 -1.4v-7"></path>
                  <path d="M10 10l.01 0"></path>
                  <path d="M14 10l.01 0"></path>
                  <path d="M10 14a3.5 3.5 0 0 0 4 0"></path>
                </svg>
              </div>
            </div>
            <div class="card-body p-4">
              <div class="row">
                <div class="col-12">
                  <h3 class="h1">{{ previous_year }} Sales in {{ customer.currency.alpha_3 }}</h3>
                </div>
              </div>
              <div class="row">
                <div class="table-responsive">
                  <table class="table table-vcenter table-nowrap">
                    <thead>
                        <tr>
                            <th class="text-end">Brand</th>
                            <th class="text-center">x</th>
                            {% for month in months.values %}
                                <th class="text-end fw-bold">{{ month.abbreviated_name }}</th>
                            {% endfor %}
                            <th class="text-center bg-red-lt">Brand Total</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for brand, monthly_data in sales_data.items %}
                        {% if monthly_data.last_year %}
                          <tr>
                              <td class="text-end fw-bold align-top">{{ brand }}</td>
                              <td class="text-center"> {{ customer.currency.symbol }} <br> LT <br> {{ customer.currency.symbol }}/L </td>
                              {% for month_key in months.keys %}
                                  {% if monthly_data.last_year|get_item:month_key %}
                                      <td class="align-top" style="text-align: right; width: 8%">
                                        {{ monthly_data.last_year|get_item:month_key|get_item:"value"|floatformat:0|intcomma }}
                                        <br>
                                        {{ monthly_data.last_year|get_item:month_key|get_item:"volume"|floatformat:0|intcomma }}
                                        <br>
                                        <span class="fw-light fs-5">
                                          {{ monthly_data.last_year|get_item:month_key|get_item:"price"|floatformat:2|intcomma }}
                                        </span>
                                      </td>
                                  {% else %}
                                      <td style="text-align: right; width: 8%">
                                        <span>0</span><br>
                                        <span>0</span><br>
                                        <span class="fw-light fs-5">
                                          0
                                        </span>
                                      </td>
                                  {% endif %}
                              {% endfor %}
                              <td class="text-end align-top fw-semibold bg-red-lt">
                                {{ monthly_data.last_year|get_item:"brand_total"|get_item:"value"|floatformat:0|intcomma }}<br>
                                {{ monthly_data.last_year|get_item:"brand_total"|get_item:"volume"|floatformat:0|intcomma }}<br>
                                <span class="fw-light fs-5">{{ monthly_data.last_year|get_item:"brand_total"|get_item:"price"|floatformat:2|intcomma }}</span>
                                
                              </td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                      <!-- Totals row -->
                        <tr>
                          <td class="text-end fw-bold align-top bg-red-lt">Total</td>
                          <td class="text-center align-top bg-red-lt"> {{ customer.currency.symbol }} <br> L <br> {{ customer.currency.symbol }}/L </td>
                          {% for month_key in months.keys %}
                              <td class="align-top bg-red-lt" style="text-align: right; width: 8%">
                                  {{ totals.last_year|get_item:month_key|get_item:"value"|intcomma }}<br>
                                  {{ totals.last_year|get_item:month_key|get_item:"volume"|intcomma }}<br>
                                  <span class="fw-light">{{ totals.last_year|get_item:month_key|get_item:"price"|floatformat:2 }}</span>
                              </td>
                          {% endfor %}
                          <td class="text-end align-top fw-bold bg-red-lt" style="text-align: right; width: 8%">
                              {{ totals.ly_grand_totals|get_item:"value"|intcomma }}<br>
                              {{ totals.ly_grand_totals|get_item:"volume"|intcomma }}<br>
                              <span class="fw-lighter">{{ totals.ly_grand_totals|get_item:"price"|floatformat:2 }}</span>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="row mb-3"> <!-- YTD sales -->
          <div class="card card-md">
            <div class="card-stamp card-stamp-lg">
              <div class="card-stamp-icon bg-primary">
                <!-- Download SVG icon from http://tabler-icons.io/i/ghost -->
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                  <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M5 11a7 7 0 0 1 14 0v7a1.78 1.78 0 0 1 -3.1 1.4a1.65 1.65 0 0 0 -2.6 0a1.65 1.65 0 0 1 -2.6 0a1.65 1.65 0 0 0 -2.6 0a1.78 1.78 0 0 1 -3.1 -1.4v-7"></path>
                  <path d="M10 10l.01 0"></path>
                  <path d="M14 10l.01 0"></path>
                  <path d="M10 14a3.5 3.5 0 0 0 4 0"></path>
                </svg>
              </div>
            </div>
            <div class="card-body p-4">
              <div class="row">
                <div class="col-12">
                  <h3 class="h1">{{ current_year }} YTD Sales in {{ customer.currency.alpha_3 }}</h3>
                </div>
              </div>
              <div class="row">
                <div class="table-responsive">
                  <table class="table table-vcenter table-nowrap">
                    <thead>
                        <tr>
                            <th class="text-end">Brand</th>
                            <th class="text-center">x</th>
                            {% for month in months.values %}
                                <th class="text-end fw-bold">{{ month.abbreviated_name }}</th>
                            {% endfor %}
                            <th class="text-center bg-red-lt">Brand Total</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for brand, monthly_data in sales_data.items %}
                        {% if monthly_data.ytd %}
                          <tr>
                            <td class="text-end fw-bold align-top">{{ brand }}</td>
                            <td class="text-center"> {{ customer.currency.symbol }} <br> LT <br> {{ customer.currency.symbol }}/L </td>
                            {% for month_key in months.keys %}
                              {% if monthly_data.ytd|get_item:month_key %}
                                <td class="align-top" style="text-align: right; width: 8%">
                                  {{ monthly_data.ytd|get_item:month_key|get_item:"value"|floatformat:0|intcomma }}
                                  <br>
                                  {{ monthly_data.ytd|get_item:month_key|get_item:"volume"|floatformat:0|intcomma }}
                                  <br>
                                  <span class="fw-light fs-5">
                                    {{ monthly_data.ytd|get_item:month_key|get_item:"price"|floatformat:2|intcomma }}
                                  </span>
                                </td>
                              {% else %}
                                <td style="text-align: right; width: 8%">
                                  <span>0</span><br>
                                  <span>0</span><br>
                                  <span class="fw-light fs-5">
                                    0
                                  </span>
                                </td>
                              {% endif %}
                            {% endfor %}
                            <td class="text-end align-top fw-semibold bg-red-lt">
                              {{ monthly_data.ytd|get_item:"brand_total"|get_item:"value"|floatformat:0|intcomma }}<br>
                              {{ monthly_data.ytd|get_item:"brand_total"|get_item:"volume"|floatformat:0|intcomma }}<br>
                              <span class="fw-light fs-5">{{ monthly_data.ytd|get_item:"brand_total"|get_item:"price"|floatformat:2|intcomma }}</span>
                              
                            </td>
                          </tr>
                        {% endif %}
                      {% endfor %}
                      <!-- Totals row -->
                        <tr>
                          <td class="text-end fw-bold align-top bg-red-lt">Total</td>
                          <td class="text-center align-top bg-red-lt"> {{ customer.currency.symbol }} <br> L <br> {{ customer.currency.symbol }}/L </td>
                          {% for month_key in months.keys %}
                              <td class="align-top bg-red-lt" style="text-align: right; width: 8%">
                                  {{ totals.ytd|get_item:month_key|get_item:"value"|intcomma }}<br>
                                  {{ totals.ytd|get_item:month_key|get_item:"volume"|intcomma }}<br>
                                  <span class="fw-light">{{ totals.ytd|get_item:month_key|get_item:"price"|floatformat:2 }}</span>
                              </td>
                          {% endfor %}
                          <td class="text-end align-top fw-bold bg-red-lt" style="text-align: right; width: 8%">
                              {{ totals.py_grand_totals|get_item:"value"|intcomma }}<br>
                              {{ totals.py_grand_totals|get_item:"volume"|intcomma }}<br>
                              <span class="fw-lighter">{{ totals.py_grand_totals|get_item:"price"|floatformat:2 }}</span>
                          </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="row">
          <div class="mb-3">
            <label class="form-label">Brands and Color Groups</label>
            <div class="form-selectgroup">
              <form action="{% url 'forecast' %}" method="post">
                {% csrf_token %}
                {% for bfl in bud_for_lines %}
                  <label class="form-selectgroup-item">
                    <input type="radio" name="budforline_id" value="{{ bfl.id }}" hx-get="{% url 'forecast-c-bcg' customer.id bfl.id %}" class="form-selectgroup-input" />
                    <span class="form-selectgroup-label">
                      {{ bfl.brand.name }} - {{ bfl.color_group.name }}
                    </span>
                  </label>
                {% endfor %}
              </form>
            </div>
          </div>
        </div>
        {% comment %} <div class="row mt-3 mb-3">
          <!-- Start of the month slot -->
          {% for d in details %}
            <div class="col-lg-1 col-md-2 col-sm-3 col-4 p-1">
              <div class="card h-100 d-flex flex-column">
                <form action="#" method="post">
                  <div class="card-header p-2 h3">{{ d.month }}</div>
                  <div class="card-body p-1">
                    {% if month != d.month %}
                    <label for="FCSvolume" class="form-label mb-1">Volume</label>
                    <input type="text" name="volume-jan" id="FCSvolume" value="{{ d.volume|intcomma }}" class="form-control" {% if month > d.month %} disabled="" {% endif %} />
                    <label for="FCSprice" class="form-label mt-2 mb-1">Price</label>
                    <input type="text" name="price-jan" id="FCSprice" value="{{ d.price|floatformat:2 }}" class="form-control" {% if month > d.month %} disabled="" {% endif %} />
                    <label for="FCStotal" class="form-label mt-2 mb-1">Total</label>
                    <input type="text" name="price-jan" id="FCStotal" value="{{ d.value|round_up|intcomma }}" class="form-control fs-5" {% if month > d.month %} disabled="" {% endif %} />
                    {% else %}
                    <div class="">
                      <p class="">sales in progress</p>
                    </div>
                    {% endif %}

                  </div>
                  {% if month < d.month %}
                    <div class="card-footer p-2">
                      <div class="ps-1">
                        <button type="submit" class="btn btn-primary btn-sm">Save</button>
                      </div>
                    </div>
                  {% endif %}
                </form>
              </div>
            </div>
          {% endfor %}
          <!-- End of the month slot box -->
        </div> {% endcomment %}
      </div>
    </div>
    {% include 'app_includes/footer.html' %}
  </div>

{% endblock %}
