<div class="card" id="previous_year_sales">
    <div class="card-body" id="last_year_sales">
      <div class="d-flex justify-content-center">
        <div class="col d-flex align-items-center fw-bold">{{ previous_year }} Sales data</div>
        <div class="col text-end">
          <button 
            class="btn btn-primary" 
            hx-get="{% url 'fetch-py-sales' customer.pk %}" 
            hx-target="#previous_year_sales" 
            hx-swap="innerHTML">
            open
          </button>
        </div>
      </div>
    </div>
  </div>