{% extends 'app_layouts/base.html' %}
{% load static %}

{% block content %}
  
  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Files imported
            </h2>
          </div>
          <div class="col-auto ">
            <h2 class="page-title">
              <a href="{% url 'files-to-import' %}" class="btn btn-outline">Files to import</a>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container">
        {% if user_files %}
        <div class="row row-cards mb-5">
          <div class="card-body d-flex align-items-center">
            {% include 'app_includes/pagination.html' %}
          </div>
        </div>
        {% endif %}
        <div class="row row-cards mb-5">
          {% for file in user_files %}
            <div id="{{ file.id }}" class="col-md-6 col-lg-3">
              <div class="card">
                <div class="ribbon bg-{{ file.file_color }}">{{ file.file_type }}</div>
                <div class="card-header">
                  <h3 class="card-title">file id: {{file.id}}</h3>
                </div>
                <div class="card-body">
                  <h3 class="card-title">{{ file.owner.get_full_name }}</h3>
                  <p class="text-muted">
                    {{ file.file_name }}
                  </p>
                  <p class="text-muted">
                    Processed: {{ file.is_processed }}
                  </p>
                  <p class="text-muted">
                    Log trace: {{ file.log}}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {% if user_files %}
        <div class="row row-cards mb-5">
          <div class="card-body d-flex align-items-center">
            {% include 'app_includes/pagination.html' %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    {% include 'app_includes/footer.html' %}
  </div>
{% endblock content %}