{% extends 'app_layouts/base.html' %}
{% load static %}

{% block content %}
  
  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Imported File Log
            </h2>
          </div>
          <div class="col-auto ">
            <h2 class="page-title">
              <a href="{% url 'imported-files' %}" class="btn btn-outline">Imported Files</a>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container">
        <div class="card">
          <div class="table-responsive">
            <table class="table table-vcenter card-table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Message</th>
                </tr>
              </thead>
              <tbody>
                {% for log_record in log_records %}
                <tr>
                  <td>{{ log_record.date }}</td>
                  <td class="text-secondary">
                    {{ log_record.log_text }}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div> 
      </div>
    </div>
    {% include 'app_includes/footer.html' %}
  </div>
{% endblock content %}