{% extends 'app_layouts/base.html' %}
{% load custom_filters %}
{% load static %}

{% block extrahead %}

{% endblock %}

{% block content %}
  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Products
            </h2>
          </div>
          <!-- Page title actions -->
          {% comment %} <div class="col-auto ms-auto d-print-none">
            <a href="#" class="btn btn-primary">
              <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
              Add
            </a>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <div class="row g-4">
          <!-- Parameters bar -->
          <div>
            <h3>Filters</h3>
          </div>
          <div class="col-md-3">
            <form action="{% url 'products' %}" method="get">
              {% csrf_token %}
              {% for field in form %}
                {% if field.name in "is_ink is_new is_fert" %}
                    <div class="form-group form-check form-switch">
                      <label class="" for="{{ field.id_for_label }}">{{ field.label|remove_colon }}</label>
                      {{ field }}
                    </div>
                {% else %}
                    <div class="form-group mb-2">
                      {{ field.label_tag }}
                      {{ field }}
                    </div>
                {% endif %}
              {% endfor %}
              {% comment %} {{ form.as_p }} {% endcomment %}
              <input type="submit" name="search" value="Submit" class="btn btn-primary" />
              <input type="submit" name="reset" value="Reset" class="btn btn-outline-primary">
            </form>
        </div>
        <!-- End of parameters bar -->
        <!-- Main part -->
        <div class="col-md-9">
          <div class="col-md-9 d-flex mb-4">
            {% include 'app_includes/pagination.html' %}
          </div>
          <div class="row row-cards">
            <div class="space-y">
              {% for p in products %}
              <!-- Start of the product card -->
              <div class="card">
                <div class="row g-0">
                  <div class="col-auto">
                    <div class="card-body">
                      <span>{{ p.brand.major_label.svg_logo|safe }}</span>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card-body ps-0">
                      <div class="row">
                        <div class="col">
                          <h3 class="mb-0">
                            {% if p.is_new %}
                            <div class="badge badge-outline badge-pill text-red me-1 align-middle" style="font-size: 0.7rem;"><span class="align-middle">NEW</span></div>
                            {%endif %}
                            <a href="{% url "product-view" p.pk %}?{{ dj_filters_params }}"class="align-middle">
                              <div class="row">
                                <div class="col-md-3 ">{{ p.number }}</div>
                                <div class="col-md-auto">{{ p.name }}</div>
                              </div>
                            </a>
                          </h3>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md">
                          
                          <div class="mt-3 list-inline list-inline-dots mb-0 text-muted d-sm-block d-none">
                            <div class="list-inline-item"><!-- Download SVG icon from http://tabler-icons.io/i/building-community -->
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-shield">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3" />
                              </svg>
                              {{ p.brand.name }}</div>
                            <div class="list-inline-item"><!-- Download SVG icon from http://tabler-icons.io/i/license -->
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-hexagons">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 18v-5l4 -2l4 2v5l-4 2z" />
                                <path d="M8 11v-5l4 -2l4 2v5" />
                                <path d="M12 13l4 -2l4 2v5l-4 2l-4 -2" />
                              </svg>
                              {{ p.brand.division.name }}</div>
                            <div class="list-inline-item"><!-- Download SVG icon from http://tabler-icons.io/i/map-pin -->
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-tag-starred">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7.5 7.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                <path d="M3 6v5.172a2 2 0 0 0 .586 1.414l7.71 7.71a2.41 2.41 0 0 0 3.408 0l5.592 -5.592a2.41 2.41 0 0 0 0 -3.408l-7.71 -7.71a2 2 0 0 0 -1.414 -.586h-5.172a3 3 0 0 0 -3 3z" />
                                <path d="M12.5 13.847l-1.5 1.153l.532 -1.857l-1.532 -1.143h1.902l.598 -1.8l.598 1.8h1.902l-1.532 1.143l.532 1.857z" />
                              </svg>
                              {{ p.brand.major_label.name }}</div>
                          </div>
                          <div class="mt-3 list mb-0 text-muted d-block d-sm-none">
                            <div class="list-item"><!-- Download SVG icon from http://tabler-icons.io/i/building-community -->
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-shield">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 3a12 12 0 0 0 8.5 3a12 12 0 0 1 -8.5 15a12 12 0 0 1 -8.5 -15a12 12 0 0 0 8.5 -3" />
                              </svg>
                              {{ p.brand.name }}</div>
                            <div class="list-item"><!-- Download SVG icon from http://tabler-icons.io/i/license -->
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-hexagons">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M4 18v-5l4 -2l4 2v5l-4 2z" />
                                <path d="M8 11v-5l4 -2l4 2v5" />
                                <path d="M12 13l4 -2l4 2v5l-4 2l-4 -2" />
                              </svg>
                              {{ p.brand.division.name }}</div>
                            <div class="list-item"><!-- Download SVG icon from http://tabler-icons.io/i/map-pin -->
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-tag-starred">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M7.5 7.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0" />
                                <path d="M3 6v5.172a2 2 0 0 0 .586 1.414l7.71 7.71a2.41 2.41 0 0 0 3.408 0l5.592 -5.592a2.41 2.41 0 0 0 0 -3.408l-7.71 -7.71a2 2 0 0 0 -1.414 -.586h-5.172a3 3 0 0 0 -3 3z" />
                                <path d="M12.5 13.847l-1.5 1.153l.532 -1.857l-1.532 -1.143h1.902l.598 -1.8l.598 1.8h1.902l-1.532 1.143l.532 1.857z" />
                              </svg>
                              {{ p.brand.major_label.name }}</div>
                          </div>


                        </div>
                        <div class="col-md-auto">
                          <div class="mt-3 badges">
                            {% if p.product_status.name == 'Available' %}
                              <span href="#" class="badge badge-outline border fw-normal badge-pill bg-success">Available</span>
                            {% elif p.product_status.name == 'End of Life' %}
                              <span href="#" class="badge badge-outline border fw-normal badge-pill bg-danger">End of Life</span>
                            {% else %}
                              <span href="#" class="badge badge-outline border fw-normal badge-pill bg-muted"> {{ p.product_status.name }} </span>
                            {% endif %}
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
              <!-- End of the product card -->
              
            </div>
          </div>
          <div class="col-md-9 d-flex align-items-end mt-4">
            {% include 'app_includes/pagination.html' %}
          </div>
        </div>
          <!-- end of Main part-->
        </div>
      </div>
    </div>
    {% include 'app_includes/footer.html' %}
  </div>
{% endblock content %}