{% extends 'app_layouts/base.html' %}
{% load custom_filters %}
{% load group_tags %}
{% load static %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col-auto">
            <a href="{% url "products" %}?{{ dj_filters_params }}">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Products" width="64" height="64" viewBox="0 0 24 24" stroke-width="1.5" stroke="#0071ce" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l14 0" />
                <path d="M5 12l6 6" />
                <path d="M5 12l6 -6" />
              </svg>
            </a>
          </div>
          <div class="col">
            <h2 class="page-title">
              {% if product.is_new%}
                <span class="badge badge-outline text-red small">NEW</span>
              {% endif %}
              {{ product.name }}
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl mb-3">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <h3 class="card-title">Basic info - {{ product.name }}    (id:{{ product.pk }})</h3>
            <a href="{% url 'product-edit' product.id %}?{{dj_filters_params}}" class="btn btn-outline-info">Edit</a>
          </div>
          <div class="card-body">
            <div class="datagrid">
              <div class="datagrid-item">
                <div class="datagrid-title">SAP Number</div>
                <div class="datagrid-content">{{ product.number }}</div>
              </div>
              <div class="datagrid-item">
                <div class="datagrid-title">SAP Description</div>
                <div class="datagrid-content"><strong>{{ product.name }}</strong></div>
              </div>
              <div class="datagrid-item">
                <div class="datagrid-title">Made in</div>
                <div class="datagrid-content">
                  {% if 'Europe' in product.made_in.name %}
                  <span class="flag flag-sm flag-country-eu }}">
                  </span>
                  {% elif 'Japan' in product.made_in.name %}
                  <span class="flag flag-sm flag-country-jp }}">
                  </span>
                  {% elif 'US' in product.made_in.name %}
                  <span class="flag flag-sm flag-country-us }}">
                  </span>
                  {% endif %}
                  {{ product.made_in.name}}
                </div>
              </div>
              <div class="datagrid-item">
                <div class="datagrid-title">Status</div>
                <div class="datagrid-content">
                  {% if product.product_status.name == 'Available' %}
                  <span class="status status-green">
                    Available
                  </span>
                  {% endif %}
                  {% if not product.product_status.name == 'Available' %}
                  <span class="status status-red">
                    {{ product.product_status.name }}
                  </span>
                  {% endif %}
                </div>
              </div>
              <div class="datagrid-item">
                <div class="datagrid-title">is ink</div>
                <div class="datagrid-content">{{ product.is_ink }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-xl mb-3">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Additional info</h3>
          </div>
          <div class="card-body">
            <div class="datagrid">
              <div class="datagrid-item">
                <div class="datagrid-title">Major Label</div>
                <div class="datagrid-content"> {{ product.brand.major_label.name }}</div>
              </div>
              <div class="datagrid-item">
                <div class="datagrid-title">Brand</div>
                <div class="datagrid-content">{{ product.brand.name }}</div>
              </div>
              <div class="datagrid-item">
                <div class="datagrid-title">OEM</div>
                <div class="datagrid-content">{{ product.brand.major_label.oem }}</div>
              </div>
              {% if product.is_ink %}
              <div class="datagrid-item">
                <div class="datagrid-title">Color</div>
                <div class="datagrid-content">
                  <div class="avatar bg-platform-{{ product.color.name_short|lower}}">
                    {{ product.color.name_short }}
                  </div>
                </div>
              </div>
              {% endif %}
              <div class="datagrid-item">
                <div class="datagrid-title">Packaging</div>
                <div class="datagrid-content"> {{ product.packaging.name }}</div>
              </div>
              <div class="datagrid-item">
                <div class="datagrid-title">Product Line</div>
                <div class="datagrid-content">{{ product.product_line.name }}</div>
              </div>
              <div class="datagrid-item">
                <div class="datagrid-title">Customer product number</div>
                <div class="datagrid-content"> {{ product.customer_product_number }}</div>
              </div>
              <div class="datagrid-item">
                <div class="datagrid-title">Customer</div>
                <div class="datagrid-content"> {{ product.customer.name  }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="container-xl mb-3">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Approval</h3>
          </div>
          <div class="card-body">
            <div class="datagrid">
              <div class="datagrid-item">
                <div class="datagrid-title">Approved On</div>
                <div class="datagrid-content">{{ product.approved_on }}</div>
              </div>
              <div class="datagrid-item">
                <div class="datagrid-title">Approved By</div>
                <div class="datagrid-content"> {{ product.approved_by }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if product.brand.major_label.oem %}
      <div class="container-xl mb-3">
        <div class="card">
          <div class="card-header d-flex justify-content-between">
            <h3 class="card-title">SDS Level 3 Replacements (Product Specific)</h3>
          </div>
          <div class="card-body" id="">
            <div class="row">
              <!-- Left section -->
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                <div class="" id="l3_languages_list"
                  hx-get="{% url 'fetch-sds-l3-languages-list' product.id %}"
                  hx-target="#l3_languages_list"
                  hx-swap="innerHTML"
                  hx-trigger="load">
                  <p>No Languages</p>
                </div>
              </div>
              <!-- Right section -->
              <div class="col-lg-9 col-md-8 col-12">
                <div id="l3_replacements" class="mb-3">
                  Select a language for details of SDS Level 3 Replacements
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}

      {% if user|has_group:"Cost viewer" %}
      <div class="container-xl mb-3">
        <div class="card">
          <div class="card-header">
            <div class="card-title"> Bill of Materials ({{ bom_header_count }}) </div>
          </div>
          <div class="card-body">
            {% if bom_header_count > 0 %}
              <div class="btn-group w-100 mb-2" role="group">
                {% for bom_header in bom_headers %}
                  <input type="radio" class="btn-check" name="btn-radio-basic" id="{{ bom_header.alt_bom }}"
                    hx-get="{% url 'fetch-bom-components' bom_header.id %}" 
                    hx-target="#bom-components-section"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                  >
                  <label for="{{ bom_header.alt_bom }}" type="button" class="btn">
                    {% if bom_header.is_active %}
                    <span class="badge bg-azure-lt me-2">active</span>
                    {% endif %}
                    AltBOM: {{ bom_header.alt_bom }}
                  </label>
                {% endfor %}
              </div>
              <div class="container">
                <div id="bom-components-section">Select an Alt BOM</div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    {% include 'app_includes/footer.html' %}
  </div>
  
{% endblock content %}