{% extends 'app_layouts/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl d-flex flex-column justify-content-center">
        {% for line in forecast_aggregation %}
        <p>{{ line.budforline__brand__name }} {{ line.budforline__color_group__name }} {{ line.total_volume|intcomma }}</p>
        <ul>
          {% for product in line.active_products %}
            <li>{{ product.number }} {{ product.name }}</li>
          {% endfor %}
        </ul>
        {% endfor %}
      </div>
    </div>
    {% include 'app_includes/footer.html' %}
  </div>  

{% endblock content %}