{% extends 'app_layouts/base.html' %}
{% load static %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col-lg-3">
              <!-- Filters -->
              <div class="card mb-2">
                <div class="card-header">
                  Category
                </div>
                <div class="card-body">
                  <div class="mb-3">
                    <form action="{% url 'products-list' %}" name="category_form" method="get">
                    <div>
                      <label class="form-check">
                        {% comment %} <input class="form-check-input" type="radio" name="category" value="all" {% if request.GET.category == 'all' or (not request.GET.category and filter_params.product_category == 'all') %} checked {% endif %}> {% endcomment %}
                        <input class="form-check-input" type="radio" name="product_category" value="all" {% if request.GET.category == 'all' %} checked {% elif filter_params.product_category == 'all' %} checked {% endif %}>
                        <span class="form-check-label">All</span>
                      </label>
                      <label class="form-check">
                        {% comment %} <input class="form-check-input" type="radio" name="category" value="ink" {% if request.GET.category == 'ink' or (not request.GET.category and filter_params.product_category == 'ink') %} checked {% endif %}> {% endcomment %}
                        <input class="form-check-input" type="radio" name="product_category" value="ink" {% if request.GET.category == 'ink' %} checked {% elif filter_params.product_category == 'ink' %} checked {% endif %}>
                        <span class="form-check-label">Inks</span>
                      </label>
                      <label class="form-check">
                        {% comment %} <input class="form-check-input" type="radio" name="category" value="non_ink" {% if request.GET.category == 'non_ink' or (not request.GET.category and filter_params.product_category == 'non_ink') %} checked {% endif %}> {% endcomment %}
                        <input class="form-check-input" type="radio" name="product_category" value="non_ink" {% if request.GET.category == 'non_ink' %} checked {% elif filter_params.product_category == 'non_ink' %} checked {% endif %}>
                        <span class="form-check-label">Non inks</span>
                      </label>
                      <input type="hidden" name="search" value="{{ request.GET.search }}">
                      <input type="hidden" name="entries" value="{{ request.GET.entries }}">
                      <input type="hidden" name="product_status_selected" value="{{ request.GET.product_status_selected }}">
                      <input type="hidden" name="made_in_country_selected" value="{{ request.GET.made_in_country_selected }}">
                    </div>
                    </form>
                  </div>

                </div>
              </div>
              <div class="card mb-2">
                <div class="card-header">
                  Product Status
                </div>
                <div class="card-body">
                  <div class="mb-3">
                    <form action="{% url 'products-list' %}" name="status_form" method="get">
                      <div>
                        <label class="form-check">
                          <input class="form-check-input" type="radio" name="product_status_selected" value="all" {% if filter_params.product_status_selected == 'all' %} checked {% endif %}>
                          <span class="form-check-label">All</span>
                      </label>
                      {% for status in product_statuses_all %}
                        <label class="form-check">
                          <input class="form-check-input" type="radio" name="product_status_selected"  value="{{ status.id }}" {% if status.id|stringformat:"s" == filter_params.product_status_selected %} checked {% endif %}>
                          <span class="form-check-label">{{ status.name }}</span>
                        </label>
                      {% endfor %}
                      <input type="hidden" name="search" value="{{ request.GET.search }}">
                      <input type="hidden" name="entries" value="{{ request.GET.entries }}">
                      <input type="hidden" name="product_category" value="{{ request.GET.product_category }}">
                      <input type="hidden" name="made_in_country_selected" value="{{ request.GET.made_in_country_selected }}">
                    </div>
                    </form> 
                  </div>

                </div>
              </div>
              <div class="card mb-2">
                <div class="card-header">
                  Made In
                </div>
                <div class="card-body">
                  <div class="mb-3">
                    <form action="{% url 'products-list' %}" name="made_in_form" method="get">
                      <div>
                        <label class="form-check">
                          <input class="form-check-input" type="radio" name="made_in_country_selected"  value="all" {% if filter_params.made_in_country_selected == 'all' %} checked {% endif %}>
                          <span class="form-check-label">All</span>
                        </label>
                        {% for made_in in made_in_counties_all %}
                          <label class="form-check">
                            <input class="form-check-input" type="radio" name="made_in_country_selected"  value="{{ made_in.id }}" {% if made_in.id|stringformat:"s" == filter_params.made_in_country_selected %} checked {% endif %}>
                            <span class="form-check-label">{{ made_in.name }}</span>
                          </label>
                        {% endfor %}
                      <input type="hidden" name="search" value="{{ request.GET.search }}">
                      <input type="hidden" name="entries" value="{{ request.GET.entries }}">
                      <input type="hidden" name="product_category" value="{{ request.GET.product_category }}">
                      <input type="hidden" name="product_status_selected" value="{{ request.GET.product_status_selected }}">
                    </div>
                    </form> 
                  </div>

                </div>
              </div>
            </div>
            <div class="col-lg-9">
              <!-- Table content -->
              <div class="card">
                <div class="card-body">
                    <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Products List</h3>
                        </div>
                        <div class="card-body border-bottom py-3">
                          <div class="d-flex flex-row">
                            <div class="text-muted mx-1">
                              <form id="EntriesForm" class="d-flex" action="{% url 'products-list' %}" method="get">
                                {% csrf_token %}
                                Entries
                                <input type="text" class="form-control form-control-sm mx-2" size="3" id="myInput" name="entries" placeholder="10" aria-label="Entries count" value="{{ request.GET.entries }}">
                                <button class="btn btn-sm btn-pill btn-primary" type="submit">Show entries</button>
                                <!-- Hidden field used to retain the search term -->
                                <input type="hidden" name="search" value="{{ request.GET.search }}">
                                <input type="hidden" name="product_category" value="{{ request.GET.product_category }}">
                                <input type="hidden" name="product_status_selected" value="{{ request.GET.product_status_selected }}">
                                <input type="hidden" name="made_in_country_selected" value="{{ request.GET.made_in_country_selected }}">
                              </form>
                            </div>      
      
                            <div class="ms-auto text-muted">
                              <div class="d-inline-block">
                                <form class="row g-3" id="searchForm" method="get" action="{% url 'products-list' %}">
                                  {% csrf_token %}
                                  <div class="col-auto">
                                    <input type="text" class="form-control form-control-sm" value="{{ request.GET.search }}" name="search" placeholder="Search here..." >
                                  </div>
                                  <div class="col-auto">
                                    <button type="submit" class="btn btn-sm btn-pill btn-primary">Search</button>
                                    <button type="reset" class="btn btn-sm btn-pill btn-primary" onclick="resetSearch()">Reset</button>
                                  </div>
                                  <input type="hidden" name="entries" value="{{ request.GET.entries }}">
                                  <input type="hidden" name="product_category" value="{{ request.GET.product_category }}">
                                  <input type="hidden" name="product_status_selected" value="{{ request.GET.product_status_selected }}">
                                  <input type="hidden" name="made_in_country_selected" value="{{ request.GET.made_in_country_selected }}">
                                </form>
                                <script>
                                  function resetSearch() {
                                      document.getElementById('searchForm').elements['search'].value='';
                                      document.getElementById('searchForm').submit();
                                  }
                                  // Submit the form whenever the radio buttons change
                                  var radioButtons = document.querySelectorAll('input[type="radio"]');
                                  radioButtons.forEach(function(radioButton) {
                                      radioButton.addEventListener('change', function() {
                                          // Check if the changed radio button belongs to the view_entries form
                                          if (this.form.name === 'category_form') {
                                              document.forms['category_form'].submit();
                                          } else if (this.form.name === 'status_form') {
                                              document.forms['status_form'].submit();
                                          } else if (this.form.name === 'made_in_form') {
                                            document.forms['made_in_form'].submit();
                                        }
                                      });
                                  });

                                </script>
                              </div>
                            </div>
                          </div>
                        </div>            
                        <div class="table-responsive">
                          <table class="table card-table table-vcenter text-nowrap datatable table-striped">
                            <thead>
                              <tr>
                                <th class="w-1">Number
                                  <!-- Download SVG icon from http://tabler-icons.io/i/chevron-up
                                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-sm icon-thick" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 15l6 -6l6 6" /></svg> -->
                                </th>
                                <th>is ink</th>
                                <th>Name</th>
                                <th>Brand</th>
                                <th>Status</th>
                                <th>Made In</th>
                                <th class="text-end">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for product in page_object %}
                              <tr>
                                
                                <td><span class="text-muted">{{ product.number }}</span></td>
                                <td>
                                  {% if product.is_ink == True %}
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bottle" width="64" height="64" viewBox="0 0 24 24" stroke-width="2" stroke="#0071ce" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                      <path d="M10 5h4v-2a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v2z" />
                                      <path d="M14 3.5c0 1.626 .507 3.212 1.45 4.537l.05 .07a8.093 8.093 0 0 1 1.5 4.694v6.199a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2v-6.2c0 -1.682 .524 -3.322 1.5 -4.693l.05 -.07a7.823 7.823 0 0 0 1.45 -4.537" />
                                      <path d="M7 14.803a2.4 2.4 0 0 0 1 -.803a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1a2.4 2.4 0 0 0 2 -1a2.4 2.4 0 0 1 1 -.805" />
                                    </svg>
                                  {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-bottle-off" width="64" height="64" viewBox="0 0 24 24" stroke-width="2" stroke="#0071ce" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                      <path d="M10 5h4v-2a1 1 0 0 0 -1 -1h-2a1 1 0 0 0 -1 1v2z" />
                                      <path d="M14 3.5c0 1.626 .507 3.212 1.45 4.537l.05 .07a8.093 8.093 0 0 1 1.5 4.694v.199m0 4v2a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2v-6.2a8.09 8.09 0 0 1 1.35 -4.474m1.336 -2.63a7.822 7.822 0 0 0 .314 -2.196" />
                                      <path d="M7 14.803a2.4 2.4 0 0 0 1 -.803a2.4 2.4 0 0 1 2 -1a2.4 2.4 0 0 1 2 1a2.4 2.4 0 0 0 2 1a2.4 2.4 0 0 0 .866 -.142" />
                                      <path d="M3 3l18 18" />
                                    </svg>
                                  {% endif %}              
                                </td>
                                <td> {{ product.name}} </td>
                                <td>
                                  {{ product.brand.name  }}
                                </td>
                                <td>
                                  {% if product.product_status.name == 'Available' %}
                                    <span class="status status-green">
                                      <small>{{ product.product_status.name }}</small>
                                    </span>
                                  {% else %}
                                    <span class="status status-red">
                                      <small>{{ product.product_status.name }}</small>
                                    </span>
                                  {% endif %}
                                </td>
                                <td>
                                  {% if 'Europe' in product.made_in.name %}
                                    <span class="flag flag-sm flag-country-eu"></span>
                                  {% elif 'Japan' in product.made_in.name %}
                                  <span class="flag flag-sm flag-country-jp"></span>
                                  {% elif 'US' in product.made_in.name %}
                                  <span class="flag flag-sm flag-country-us"></span>
                                  {% endif %}
                                </td>
                                <td class="text-end">
                                  <a href="{% url 'product-view' product.pk %}" class="btn btn-outline-info btn-sm">View</a>
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <div class="card-footer d-flex align-items-center">
                          {% include 'app_includes/pagination.html' %}
                        </div>
                      </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    {% include 'app_includes/footer.html' %}
  </div>
{% endblock content %}