<tr id="replacement-{{ replacement.id }}">
    <td colspan="4">
        <form method="post" hx-post="{% url 'edit-sds-replacement' replacement.id %}" hx-target="#replacements-table" hx-swap="innerHTML">
            {% csrf_token %}
            <div class="mb-2">
                <label for="{{ form.search_for.id_for_label }}" class="form-label">{{ form.search_for.label }}</label>
                {{ form.search_for }}
            </div>
            <div class="mb-2">
                <label for="{{ form.replace_with.id_for_label }}" class="form-label">{{ form.replace_with.label }}</label>
                {{ form.replace_with }}
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </td>
</tr>