{% extends 'app_layouts/base.html' %}
{% load static %}

{% block title %}Settings - {% endblock title %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page header -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Your Account Settings
            </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl">
        <div class="card">
          <div class="row g-0">
            <div class="col-3 d-none d-md-block border-end">
              <div class="card-body">
                <h4 class="subheader">Business settings</h4>
                <div class="list-group list-group-transparent">
                </div>
                <div class="list-group list-group-transparent">
                </div>
              </div>
            </div>
            <div class="col d-flex flex-column">
              <form action="{% url 'update-profile' %}" method="post">
                {% csrf_token %}
                <div class="card-body">
                  <h2 class="mb-4">My Account</h2>
  
                  <h3 class="card-title mt-4">User Profile</h3>
                  <div class="row g-3">
                    <div class="col-md">
                      <div class="form-label">First Name</div>
                      <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                    </div>
                    <div class="col-md">
                      <div class="form-label">Last Name</div>
                      <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                    </div>
                  </div>
                  <h3 class="card-title mt-4">Email</h3>
                  <div>
                    <div class="row g-2">
                      <div class="">
                        <input type="text" class="form-control" name="email" value="{{ user.email }}">
                      </div>
                    </div>
                  </div>
                  <h3 class="card-title mt-4">Password</h3>
                  <div>
                    <a href="#" class="btn btn-outline-primary">
                      Set new password
                    </a>
                  </div>
                </div>
                <div class="card-footer bg-transparent mt-auto">
                  <div class="btn-list justify-content-end">
                    <a href="{% url 'index' %}" class="btn">
                      Cancel
                    </a>
                
                    <button type="submit" class="btn btn-primary">
                      Submit
                    </button>

                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'app_includes/footer.html' %}
  </div>
  
{% endblock content %}
