{% extends 'app_layouts/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl d-flex flex-column justify-content-center">
        <div class="card">
          
          <div class="table-responsive">
            <table class="table table-vcenter card-table table-striped">
              <thead>
                <tr>
                  <th rowspan="2" class="text-end fw-1"> Division</th>
                  <th colspan="3" class="text-center border-end">PY</th>
                  <th colspan="3" class="text-center border-end">YTD</th>
                  <th colspan="3" class="text-center border-end">Forecast</th>
                  <th colspan="3" class="text-center border-end">YTD+Forecast</th>
                  <th colspan="3" class="text-center border-end">BDG</th>
                </tr>
                <tr>
                  <th class="text-end border-end">Volume</th>
                  <th class="text-end border-end">Price</th>
                  <th class="text-end border-end">Value</th>
                  <th class="text-end border-end">Volume</th>
                  <th class="text-end border-end">Price</th>
                  <th class="text-end border-end">Value</th>
                  <th class="text-end border-end">Volume</th>
                  <th class="text-end border-end">Price</th>
                  <th class="text-end border-end">Value</th>
                  <th class="text-end border-end" border-end>Volume</th>
                  <th class="text-end border-end">Price</th>
                  <th class="text-end border-end">Value</th>
                  <th class="text-end border-end">Volume</th>
                  <th class="text-end border-end">Price</th>
                  <th class="text-end border-end">Value</th>
                </tr>
              </thead>
              <tbody>
                {% for item in consolidated_data %}
                <tr>
                  <td class="fs-5 text-end">{{ item.nsf_division }}</td>
                  <td class="fs-5 text-end">{{ item.last.vol|intcomma }}</td>
                  <td class="fs-5 text-end fs-6">{{ item.last.price }}</td>
                  <td class="fs-5 text-end">{{ item.last.val|intcomma }}</td>
                  <td class="fs-5 text-end">{{ item.this.vol|intcomma }}</td>
                  <td class="fs-5 text-end fs-6">{{ item.this.price }}</td>
                  <td class="fs-5 text-end">{{ item.this.val|intcomma }}</td>
                  <td class="fs-5 text-end">{{ item.forecast.vol|intcomma }}</td>
                  <td class="fs-5 text-end fs-6">{{ item.forecast.price }}</td>
                  <td class="fs-5 text-end">{{ item.forecast.val|intcomma }}</td>
                  <td class="fs-5 text-end">{{ item.forecast_full.vol|intcomma }}</td>
                  <td class="fs-5 text-end fs-6">{{ item.forecast_full.price }}</td>
                  <td class="fs-5 text-end">{{ item.forecast_full.val|intcomma }}</td>
                  <td class="fs-5 text-end">{{ item.budget.vol|intcomma }}</td>
                  <td class="fs-5 text-end fs-6">{{ item.budget.price }}</td>
                  <td class="fs-5 text-end">{{ item.budget.val|intcomma }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    {% include 'app_includes/footer.html' %}
  </div>
{% endblock content %}