{% extends 'app_layouts/base.html' %}
{% load humanize %}
{% load static %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl d-flex flex-column justify-content-center">
        <div class="card mb-1">
          <form method="post" action="{% url 'sales-forecast-budget' %}" id="filter-form">
            {% csrf_token %}
            <div class="card-header p-2 fw-bold">
              Filters
            </div>
            <div class="card-body p-2">
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="id_user" class="form-label">User</label>
                  {{ form.user }}
                </div>
                <div class="col-md-6 mb-3">
                  <label for="id_customer" class="form-label">Customer</label>
                  {{ form.customer }}
                </div>
              </div>
            </div>
            <div class="card-footer p-2" id="submit-button-container">
              <button type="submit" class="btn btn-primary">Apply Filters</button>
            </div>
          </form>
        </div>
        <div class="card">
          <div class="table-responsive">
            <table class="table table-vcenter">
              <thead>
                <tr>
                  <th rowspan="2" class="text-end fw-1"> Division</th>
                  <th colspan="3" class="text-center border-start border-end">ACT {{ last_year }}</th>
                  <th colspan="3" class="text-center border-end">YTD {{ current_year }}</th>
                  <th colspan="3" class="text-center border-end">FCST {{ forecast_year }}</th>
                  <th colspan="3" class="text-center border-end">YTD+FCST {{ current_year }}</th>
                  <th colspan="3" class="text-center border-end">BDG {{ budget_year }}</th>
                </tr>
                <tr>
                  <th class="text-end border-end border-start">Volume</th>
                  <th class="text-end border-end">Price</th>
                  <th class="text-end border-end">Value</th>
                  <th class="text-end border-end">Volume</th>
                  <th class="text-end border-end">Price</th>
                  <th class="text-end border-end">Value</th>
                  <th class="text-end border-end">Volume</th>
                  <th class="text-end border-end">Price</th>
                  <th class="text-end border-end">Value</th>
                  <th class="text-end border-end" border-end>Volume</th>
                  <th class="text-end border-end">Price</th>
                  <th class="text-end border-end">Value</th>
                  <th class="text-end border-end">Volume</th>
                  <th class="text-end border-end">Price</th>
                  <th class="text-end border-end">Value</th>
                </tr>
              </thead>
              <tbody>
                {% for item in consolidated_data %}
                <tr class="{% if item.nsf_division == missing_division %} bg-purple-lt {% endif %} {% if item.nsf_division == total_text %} fw-bold {% endif %} ">
                  <td class="fs-5 text-end border-end">{{ item.nsf_division }}</td>
                  <td class="fs-5 text-end">{{ item.last.vol|intcomma }}</td>
                  <td class="fs-5 text-end fs-6">{{ item.last.price }}</td>
                  <td class="fs-5 text-end border-end">{{ item.last.val|intcomma }}</td>
                  <td class="fs-5 text-end">{{ item.this.vol|intcomma }}</td>
                  <td class="fs-5 text-end fs-6">{{ item.this.price }}</td>
                  <td class="fs-5 text-end border-end">{{ item.this.val|intcomma }}</td>
                  <td class="fs-5 text-end">{{ item.forecast.vol|intcomma }}</td>
                  <td class="fs-5 text-end fs-6">{{ item.forecast.price }}</td>
                  <td class="fs-5 text-end border-end">{{ item.forecast.val|intcomma }}</td>
                  <td class="fs-5 text-end">{{ item.forecast_full.vol|intcomma }}</td>
                  <td class="fs-5 text-end fs-6">{{ item.forecast_full.price }}</td>
                  <td class="fs-5 text-end border-end">{{ item.forecast_full.val|intcomma }}</td>
                  <td class="fs-5 text-end">{{ item.budget.vol|intcomma }}</td>
                  <td class="fs-5 text-end fs-6">{{ item.budget.price }}</td>
                  <td class="fs-5 text-end">{{ item.budget.val|intcomma }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-body">
            All figures are in LT (Volume) and EUR (Values)<br>
            YTD Sales are pulled up to the end of last month <br>
            Forecast data are taken into account from the month of {{ current_month_name }}. <br>

            <br>
            {% if missing_division %}The line {{ missing_division }} is caused by products or customers still not properly profiled {% endif %} <br>
            {% comment %} <span><a class="btn" href="{% url 'download-sfb' %}">Download</a></span> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    {% include 'app_includes/footer.html' %}
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const userSelect = document.getElementById('id_user');
      const customerSelect = document.getElementById('id_customer');
      const submitButtonContainer = document.getElementById('submit-button-container');
      const form = document.getElementById('filter-form');
  
      // Hide the submit button
      if (submitButtonContainer) {
        submitButtonContainer.style.display = 'none';
      }
  
      // Function to submit the form
      function submitForm() {
        console.log('submit form')
        form.submit();
      }
  
      // Add event listeners to the select fields
      if (userSelect) {
        userSelect.addEventListener('change', submitForm);
      }
      if (customerSelect) {
        customerSelect.addEventListener('change', submitForm);
      }
    });
  </script>
  

{% endblock content %}