{% extends 'app_layouts/base-auth.html' %}
{% load static %}

{% block title %}Log in{% endblock title %}

{% block body %}d-flex flex-column{% endblock body %}

{% block content %}

  <div class="page page-center">
    <div class="container container-tight py-4">
      <div class="text-center mb-4">
        <a href="{% url 'index' %}" class="navbar-brand navbar-brand-autodark"><img src="{% static 'static/plat_logo.svg' %}" height="36" alt=""></a>
      </div>
      <div class="card card-md">
        <div class="card-body">
          <h2 class="h2 text-center mb-4">Login to your account</h2>
          <form method="POST">
            
            {% csrf_token %}

            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <span class="text-danger d-block mb-3">{{ error }}</span>
              {% endfor %}
            {% endif %}

            {% for field in form %}
              <div class="mb-3"><label class="form-label">{{ field.label }}</label>{{ field }}</div>
            {% endfor %}
            
            <div class="mb-2">
              <label class="form-check">
                <input type="checkbox" class="form-check-input"/>
                <span class="form-check-label">Remember me on this device</span>
              </label>
            </div>
            <div class="form-footer">
              <button type="submit" class="btn btn-primary w-100">Sign in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}