{% extends 'app_layouts/base.html' %}
{% load static %}

{% block content %}

  <div class="page-wrapper">
    <!-- Page body -->
    <div class="page-body">
      <div class="container-xl d-flex flex-column justify-content-center">
               
      <div class="row">
        <div id="sse-data">
          <!-- Here is where log messages are inserted -->
        </div>
      </div>
      <div class="row">
        <button class="btn btn-primary" onclick="startSSE()">Start</button>
        <button class="btn btn-primary" onclick="stopSSE()" disabled>Stop</button>
      </div>

      <script>
        let eventSource;
        let message_count = 0;
        const sseData = document.getElementById('sse-data');
    
        function startSSE() {
          sseData.innerHTML = '';  
          eventSource = new EventSource('/stream_channel/');
          message_count = 0;
          eventSource.onmessage = event => {
            message_count++;
            if (event.data === "chiudi") {
              eventSource.close();
              console.log("Server requested to close the channel.");
              // Optionally, disable or enable buttons based on the connection status
              document.querySelector('button[onclick="startSSE()"]').disabled = false;
              document.querySelector('button[onclick="stopSSE()"]').disabled = true;
              return; 
            }
            // console.log('event.data: ' + event.data)
            sseData.innerHTML += event.data + '<br>';
            if (message_count > 10){
              eventSource.close();
              console.log("channel closed after 10 events")
            }
            document.querySelector('button[onclick="startSSE()"]').disabled = false;
            document.querySelector('button[onclick="stopSSE()"]').disabled = true;
          };
          document.querySelector('button[onclick="startSSE()"]').disabled = true;
          document.querySelector('button[onclick="stopSSE()"]').disabled = false;
        }

        
    
        function stopSSE() {
            if (eventSource) {
              eventSource.close();
              console.log('close')
            }
            document.querySelector('button[onclick="startSSE()"]').disabled = false;
            document.querySelector('button[onclick="stopSSE()"]').disabled = true;
        }
    </script>
    </div>
    {% include 'app_includes/footer.html' %}
  </div>
{% endblock content %}