{% extends "app_layouts/base.html" %}

{% load static %}

{% block content  %}

<h1>Server Sent Events</h1>
<div id="sse-data"></div>
<button class="btn btn-primary" onclick="startSSE()">Start</button>
<button class="btn btn-primary" onclick="stopSSE()" disabled>Stop</button>

<script>
    let eventSource;
    const sseData = document.getElementById('sse-data');

    function startSSE() {
        eventSource = new EventSource('/stream/');
        eventSource.onmessage = event => sseData.innerHTML += event.data + '<br>';
        console.log('qui')
        document.querySelector('button[onclick="startSSE()"]').disabled = true;
        document.querySelector('button[onclick="stopSSE()"]').disabled = false;
    }

    function stopSSE() {
        if (eventSource) {
          eventSource.close();
          console.log('close')
        }
        document.querySelector('button[onclick="startSSE()"]').disabled = false;
        document.querySelector('button[onclick="stopSSE()"]').disabled = true;
    }
</script>

{% endblock  %}